Repository ramonsterj/inside_health-hms: changes, and which lefthook commands are due for each by the changed paths.
All: detekt, compile-kotlin, eslint, oxlint, prettier, typescript

detekt:
  run: ./gradlew detekt --daemon

compile-kotlin:
  run: ./gradlew compileKotlin --daemon

eslint:
  run: npm run lint

oxlint:
  run: npm run lint:oxlint

prettier:
  run: npm run format:check

typescript:
  run: npx vue-tsc --noEmit

feat(i18n): render coded reference data through translation keys (#85)
  CLAUDE.md
  api/src/main/resources/db/migration/V128__spanishize_reference_descriptions.sql
  api/src/main/resources/db/seed/R__seed_01_reset_and_base.sql
  api/src/main/resources/db/seed/R__seed_02_infrastructure.sql
  api/src/main/resources/db/seed/R__seed_02b_pharmacy_from_workbook.sql
  api/src/main/resources/db/seed/R__seed_03_admissions.sql
  api/src/main/resources/db/seed/R__seed_04_clinical_records.sql
  api/src/main/resources/db/seed/R__seed_05_nursing_and_vitals.sql
  api/src/main/resources/db/seed/R__seed_06_therapy_and_meds.sql
  api/src/main/resources/db/seed/R__seed_07_billing.sql
  api/src/main/resources/db/seed/R__seed_08_warehouse_transfers.sql
  api/src/test/kotlin/com/insidehealthgt/hms/i18n/I18nReferenceDataCoverageTest.kt
  docs/architecture/I18N.md
  web/src/components/admissions/AdmissionCard.vue
  web/src/components/admissions/AdmissionCardGrid.vue
  web/src/components/admissions/AdmissionsGroupRowHeader.vue
  web/src/components/documents/DocumentList.vue
  web/src/components/documents/DocumentUploadDialog.vue
  web/src/components/medical-record/ProgressNoteCard.vue
  web/src/components/nursing/NursingNoteCard.vue
  web/src/components/psychotherapy/PsychotherapyActivityCard.vue
  web/src/composables/useAdmissionsTableGrouping.ts
  web/src/composables/useCodeLabels.ts
  web/src/i18n/catalogs.spec.ts
  web/src/i18n/catalogs.ts
  web/src/i18n/locales/en.json
  web/src/i18n/locales/es.json
  web/src/views/RolesView.vue
  web/src/views/UsersView.vue
  web/src/views/admin/DocumentTypesView.vue
  web/src/views/admin/TriageCodesView.vue
  web/src/views/admissions/AdmissionFormView.vue
  web/src/views/warehouse/WarehouseList.vue
  web/src/views/warehouse/WarehouseStockView.vue
Due: detekt, compile-kotlin, eslint, oxlint, prettier, typescript

feat(db): reconcile rooms to real hospital layout
  CLAUDE.md
  api/src/main/resources/db/migration/V129__reconcile_rooms_to_real_layout.sql
  api/src/main/resources/db/seed/R__seed_01_reset_and_base.sql
  api/src/main/resources/db/seed/R__seed_02_infrastructure.sql
  api/src/main/resources/db/seed/R__seed_02b_pharmacy_from_workbook.sql
  api/src/main/resources/db/seed/R__seed_03_admissions.sql
  api/src/main/resources/db/seed/R__seed_04_clinical_records.sql
  api/src/main/resources/db/seed/R__seed_05_nursing_and_vitals.sql
  api/src/main/resources/db/seed/R__seed_06_therapy_and_meds.sql
  api/src/main/resources/db/seed/R__seed_07_billing.sql
  api/src/main/resources/db/seed/R__seed_08_warehouse_transfers.sql
Due: none

feat(db): reconcile rooms to real hospital layout (#86)
  CLAUDE.md
  api/src/main/resources/db/migration/V129__reconcile_rooms_to_real_layout.sql
  api/src/main/resources/db/seed/R__seed_01_reset_and_base.sql
  api/src/main/resources/db/seed/R__seed_02_infrastructure.sql
  api/src/main/resources/db/seed/R__seed_02b_pharmacy_from_workbook.sql
  api/src/main/resources/db/seed/R__seed_03_admissions.sql
  api/src/main/resources/db/seed/R__seed_04_clinical_records.sql
  api/src/main/resources/db/seed/R__seed_05_nursing_and_vitals.sql
  api/src/main/resources/db/seed/R__seed_06_therapy_and_meds.sql
  api/src/main/resources/db/seed/R__seed_07_billing.sql
  api/src/main/resources/db/seed/R__seed_08_warehouse_transfers.sql
Due: none

feat(web): add two-level admissions grouping, drop table view
  CLAUDE.md
  docs/features/admissions-list-view.md
  web/e2e/admissions-list-view.spec.ts
  web/src/components/admissions/AdmissionCard.vue
  web/src/components/admissions/AdmissionCardGrid.vue
  web/src/components/admissions/AdmissionCardList.vue
  web/src/components/admissions/AdmissionCardSubGroup.vue
  web/src/components/admissions/AdmissionGroupHeader.vue
  web/src/components/admissions/AdmissionsGroupRowHeader.vue
  web/src/components/admissions/AdmissionsListSection.vue
  web/src/components/admissions/AdmissionsListToolbar.vue
  web/src/composables/useAdmissionsGrouping.spec.ts
  web/src/composables/useAdmissionsGrouping.ts
  web/src/composables/useAdmissionsTableGrouping.ts
  web/src/constants/admissionType.ts
  web/src/i18n/locales/en.json
  web/src/i18n/locales/es.json
  web/src/stores/admissionsListPreferences.spec.ts
  web/src/stores/admissionsListPreferences.ts
  web/src/views/DashboardView.vue
Due: eslint, oxlint, prettier, typescript

feat(web): add two-level admissions grouping, drop table view (#87)
  CLAUDE.md
  docs/features/admissions-list-view.md
  web/e2e/admissions-list-view.spec.ts
  web/src/components/admissions/AdmissionCard.vue
  web/src/components/admissions/AdmissionCardGrid.vue
  web/src/components/admissions/AdmissionCardList.vue
  web/src/components/admissions/AdmissionCardSubGroup.vue
  web/src/components/admissions/AdmissionGroupHeader.vue
  web/src/components/admissions/AdmissionsGroupRowHeader.vue
  web/src/components/admissions/AdmissionsListSection.vue
  web/src/components/admissions/AdmissionsListToolbar.vue
  web/src/composables/useAdmissionsGrouping.spec.ts
  web/src/composables/useAdmissionsGrouping.ts
  web/src/composables/useAdmissionsTableGrouping.ts
  web/src/constants/admissionType.ts
  web/src/i18n/locales/en.json
  web/src/i18n/locales/es.json
  web/src/stores/admissionsListPreferences.spec.ts
  web/src/stores/admissionsListPreferences.ts
  web/src/views/DashboardView.vue
Due: eslint, oxlint, prettier, typescript

refactor(auth): gate clinical writes on permissions, not roles
  CLAUDE.md
  api/src/main/kotlin/com/insidehealthgt/hms/config/AdminInitializer.kt
  api/src/main/kotlin/com/insidehealthgt/hms/controller/AdmissionController.kt
  api/src/main/kotlin/com/insidehealthgt/hms/controller/PatientController.kt
  api/src/main/kotlin/com/insidehealthgt/hms/dto/request/CreateMedicationAdministrationRequest.kt
  api/src/main/kotlin/com/insidehealthgt/hms/security/CustomUserDetails.kt
  api/src/main/kotlin/com/insidehealthgt/hms/security/SystemRole.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/AdmissionService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/MedicalOrderService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/MedicationAdministrationService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/NursingNoteService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/ProgressNoteService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/PsychotherapyActivityService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/RoleService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/UserService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/VitalSignService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/WarehouseScopeService.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/AbstractIntegrationTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/RoleControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/security/SystemRoleCoverageTest.kt
  docs/architecture/ARCHITECTURE.md
  docs/roles-functionality-matrix.es.md
  docs/roles-functionality-matrix.md
  web/src/components/admissions/AdmissionExportButton.spec.ts
  web/src/components/medical-record/MedicalRecordHub.spec.ts
  web/src/components/nursing/kardex/KardexMedicationList.spec.ts
  web/src/constants/roles.ts
  web/src/i18n/catalogs.ts
  web/src/layout/AppMenu.vue
  web/src/router/index.ts
  web/src/stores/auth.spec.ts
  web/src/stores/auth.ts
  web/src/types/medicalRecord.ts
  web/src/views/RolesView.vue
  web/src/views/UsersView.vue
  web/src/views/admissions/AdmissionFormView.vue
Due: detekt, compile-kotlin, eslint, oxlint, prettier, typescript

refactor(auth): gate clinical writes on permissions, not roles (#89)
  CLAUDE.md
  api/src/main/kotlin/com/insidehealthgt/hms/config/AdminInitializer.kt
  api/src/main/kotlin/com/insidehealthgt/hms/controller/AdmissionController.kt
  api/src/main/kotlin/com/insidehealthgt/hms/controller/PatientController.kt
  api/src/main/kotlin/com/insidehealthgt/hms/dto/request/CreateMedicationAdministrationRequest.kt
  api/src/main/kotlin/com/insidehealthgt/hms/security/CustomUserDetails.kt
  api/src/main/kotlin/com/insidehealthgt/hms/security/SystemRole.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/AdmissionService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/MedicalOrderService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/MedicationAdministrationService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/NursingNoteService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/ProgressNoteService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/PsychotherapyActivityService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/RoleService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/UserService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/VitalSignService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/WarehouseScopeService.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/AbstractIntegrationTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/RoleControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/security/SystemRoleCoverageTest.kt
  docs/architecture/ARCHITECTURE.md
  docs/roles-functionality-matrix.es.md
  docs/roles-functionality-matrix.md
  web/src/components/admissions/AdmissionExportButton.spec.ts
  web/src/components/medical-record/MedicalRecordHub.spec.ts
  web/src/components/nursing/kardex/KardexMedicationList.spec.ts
  web/src/constants/roles.ts
  web/src/i18n/catalogs.ts
  web/src/layout/AppMenu.vue
  web/src/router/index.ts
  web/src/stores/auth.spec.ts
  web/src/stores/auth.ts
  web/src/types/medicalRecord.ts
  web/src/views/RolesView.vue
  web/src/views/UsersView.vue
  web/src/views/admissions/AdmissionFormView.vue
Due: detekt, compile-kotlin, eslint, oxlint, prettier, typescript

feat: surface medical-order authorization status and guard edits
  CLAUDE.md
  api/src/main/kotlin/com/insidehealthgt/hms/service/MedicalOrderService.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/LabOrderControllerTest.kt
  docs/features/laboratory-orders-with-providers.md
  docs/features/medical-psychiatric-record.md
  web/src/components/medical-record/MedicalOrderCard.spec.ts
  web/src/components/medical-record/MedicalOrderCard.vue
  web/src/components/medical-record/MedicalOrderFormDialog.spec.ts
  web/src/components/medical-record/MedicalOrderFormDialog.vue
  web/src/components/medical-record/MedicalOrderList.vue
  web/src/components/medical-record/MedicalOrderStateBadge.vue
  web/src/i18n/locales/en.json
  web/src/i18n/locales/es.json
  web/src/types/medicalRecord.ts
Due: detekt, compile-kotlin, eslint, oxlint, prettier, typescript

feat: surface medical-order authorization status and guard edits (#90)
  CLAUDE.md
  api/src/main/kotlin/com/insidehealthgt/hms/service/MedicalOrderService.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/LabOrderControllerTest.kt
  docs/features/laboratory-orders-with-providers.md
  docs/features/medical-psychiatric-record.md
  web/src/components/medical-record/MedicalOrderCard.spec.ts
  web/src/components/medical-record/MedicalOrderCard.vue
  web/src/components/medical-record/MedicalOrderFormDialog.spec.ts
  web/src/components/medical-record/MedicalOrderFormDialog.vue
  web/src/components/medical-record/MedicalOrderList.vue
  web/src/components/medical-record/MedicalOrderStateBadge.vue
  web/src/i18n/locales/en.json
  web/src/i18n/locales/es.json
  web/src/types/medicalRecord.ts
Due: detekt, compile-kotlin, eslint, oxlint, prettier, typescript

feat(web): add in-app document viewer for images and PDFs
  CLAUDE.md
  docs/features/in-app-document-viewer.md
  web/eslint.config.js
  web/package-lock.json
  web/package.json
  web/src/components/documents/DocumentViewer.vue
  web/src/components/medical-record/MedicalOrderDocumentViewer.vue
  web/src/components/viewer/FileViewerDialog.spec.ts
  web/src/components/viewer/FileViewerDialog.vue
  web/src/components/viewer/ImageViewerPane.vue
  web/src/components/viewer/PdfViewerPane.spec.ts
  web/src/components/viewer/PdfViewerPane.vue
  web/src/components/viewer/pdfjsLoader.ts
  web/src/composables/useBlobObjectUrl.spec.ts
  web/src/composables/useBlobObjectUrl.ts
  web/src/i18n/locales/en.json
  web/src/i18n/locales/es.json
  web/src/views/patients/PatientDetailView.vue
  web/src/views/patients/PatientFormView.vue
Due: eslint, oxlint, prettier, typescript

test(web): grant E2E admin mocks the permissions their pages require
  web/e2e/medication-administration-fefo.spec.ts
  web/e2e/pharmacy-expiry.spec.ts
  web/e2e/pharmacy-lots.spec.ts
  web/e2e/warehouse.spec.ts
Due: eslint, oxlint, prettier, typescript

feat(web): add shared debounced SearchInput component
  CLAUDE.md
  docs/architecture/SEARCH.md
  web/eslint.config.js
  web/src/components/common/SearchInput.spec.ts
  web/src/components/common/SearchInput.vue
  web/src/composables/useDebouncedSearch.spec.ts
  web/src/composables/useDebouncedSearch.ts
  web/src/i18n/locales/en.json
  web/src/i18n/locales/es.json
  web/src/views/UsersView.vue
  web/src/views/inventory/InventoryItemsView.vue
  web/src/views/nursing/NursingKardexView.vue
  web/src/views/patients/PatientsView.vue
  web/src/views/pharmacy/PharmacyListView.vue
  web/src/views/treasury/EmployeeList.vue
  web/src/views/treasury/ExpenseList.vue
  web/src/views/treasury/IncomeList.vue
  web/src/views/warehouse/WarehouseStockView.vue
Due: eslint, oxlint, prettier, typescript

feat(web): in-app document viewer for images and PDFs (#91)
  CLAUDE.md
  docs/features/in-app-document-viewer.md
  web/e2e/medication-administration-fefo.spec.ts
  web/e2e/pharmacy-expiry.spec.ts
  web/e2e/pharmacy-lots.spec.ts
  web/e2e/warehouse.spec.ts
  web/eslint.config.js
  web/package-lock.json
  web/package.json
  web/src/components/documents/DocumentViewer.vue
  web/src/components/medical-record/MedicalOrderDocumentViewer.vue
  web/src/components/viewer/FileViewerDialog.spec.ts
  web/src/components/viewer/FileViewerDialog.vue
  web/src/components/viewer/ImageViewerPane.vue
  web/src/components/viewer/PdfViewerPane.spec.ts
  web/src/components/viewer/PdfViewerPane.vue
  web/src/components/viewer/pdfjsLoader.ts
  web/src/composables/useBlobObjectUrl.spec.ts
  web/src/composables/useBlobObjectUrl.ts
  web/src/i18n/locales/en.json
  web/src/i18n/locales/es.json
  web/src/views/patients/PatientDetailView.vue
  web/src/views/patients/PatientFormView.vue
Due: eslint, oxlint, prettier, typescript

feat(web): add shared debounced SearchInput component (#92)
  CLAUDE.md
  docs/architecture/SEARCH.md
  web/eslint.config.js
  web/src/components/common/SearchInput.spec.ts
  web/src/components/common/SearchInput.vue
  web/src/composables/useDebouncedSearch.spec.ts
  web/src/composables/useDebouncedSearch.ts
  web/src/i18n/locales/en.json
  web/src/i18n/locales/es.json
  web/src/views/UsersView.vue
  web/src/views/inventory/InventoryItemsView.vue
  web/src/views/nursing/NursingKardexView.vue
  web/src/views/patients/PatientsView.vue
  web/src/views/pharmacy/PharmacyListView.vue
  web/src/views/treasury/EmployeeList.vue
  web/src/views/treasury/ExpenseList.vue
  web/src/views/treasury/IncomeList.vue
  web/src/views/warehouse/WarehouseStockView.vue
Due: eslint, oxlint, prettier, typescript

Path conditions:
  detekt: any of: **/*.kt and ^api/
  compile-kotlin: any of: **/*.kt and ^api/
  eslint: any of: **/*.{vue,ts,tsx,js} and ^web/
  oxlint: any of: **/*.{vue,ts,tsx,js} and ^web/
  prettier: any of: **/*.{vue,ts,tsx,js,json,css,scss} and ^web/
  typescript: any of: **/*.{vue,ts,tsx} and ^web/
