Repository ramonsterj/inside_health-hms: changes, and which lefthook commands are due for each by the changed paths.
All: detekt, compile-kotlin, eslint, oxlint, prettier, typescript

detekt:
  run: ./gradlew detekt --daemon

compile-kotlin:
  run: ./gradlew compileKotlin --daemon

eslint:
  run: npm run lint

oxlint:
  run: npm run lint:oxlint

prettier:
  run: npm run format:check

typescript:
  run: npx vue-tsc --noEmit

Production deployment fixes
  compose.prod.yml
  web/Dockerfile
  web/nginx.conf
Due: none

refactor(web): remove admission create button and extract shared format utilities
  docs/testing/05-ADMISSION-MANAGEMENT.md
  web/src/components/admissions/ConsultingPhysiciansPanel.vue
  web/src/components/common/AuditInfo.vue
  web/src/components/medical-record/MedicalOrderCard.vue
  web/src/components/medical-record/MedicationAdministrationHistory.vue
  web/src/utils/format.ts
  web/src/views/admin/TriageCodesView.vue
  web/src/views/admissions/AdmissionDetailView.vue
  web/src/views/admissions/AdmissionsView.vue
Due: eslint, oxlint, prettier, typescript

refactor(web): remove admission create button and extract shared format utilities (#27)
  docs/testing/05-ADMISSION-MANAGEMENT.md
  web/src/components/admissions/ConsultingPhysiciansPanel.vue
  web/src/components/common/AuditInfo.vue
  web/src/components/medical-record/MedicalOrderCard.vue
  web/src/components/medical-record/MedicationAdministrationHistory.vue
  web/src/utils/format.ts
  web/src/views/admin/TriageCodesView.vue
  web/src/views/admissions/AdmissionDetailView.vue
  web/src/views/admissions/AdmissionsView.vue
Due: eslint, oxlint, prettier, typescript

refactor: use type-safe config properties and improve dev environment setup
  .env.dev
  .gitignore
  api/src/main/kotlin/com/insidehealthgt/hms/config/AppProperties.kt
  api/src/main/kotlin/com/insidehealthgt/hms/config/SecurityConfig.kt
  scripts/run-all.sh
  scripts/start-db.sh
  web/src/components/medical-record/MedicalOrderList.vue
Due: detekt, compile-kotlin, eslint, oxlint, prettier, typescript

refactor: use type-safe config properties and improve dev environment setup (#28)
  .env.dev
  .gitignore
  api/src/main/kotlin/com/insidehealthgt/hms/config/AppProperties.kt
  api/src/main/kotlin/com/insidehealthgt/hms/config/SecurityConfig.kt
  scripts/run-all.sh
  scripts/start-db.sh
  web/src/components/medical-record/MedicalOrderList.vue
Due: detekt, compile-kotlin, eslint, oxlint, prettier, typescript

feat(web): improve psychotherapy category form layout and labels
  web/src/i18n/locales/en.json
  web/src/i18n/locales/es.json
  web/src/views/admin/PsychotherapyCategoryFormView.vue
Due: eslint, oxlint, prettier, typescript

feat(web): improve psychotherapy category form layout and labels (#29)
  web/src/i18n/locales/en.json
  web/src/i18n/locales/es.json
  web/src/views/admin/PsychotherapyCategoryFormView.vue
Due: eslint, oxlint, prettier, typescript

feat: restrict doctor patient visibility to assigned patients
  api/src/main/kotlin/com/insidehealthgt/hms/controller/PatientController.kt
  api/src/main/kotlin/com/insidehealthgt/hms/dto/response/PatientResponse.kt
  api/src/main/kotlin/com/insidehealthgt/hms/repository/PatientRepository.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/PatientService.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/PatientControllerTest.kt
  docker-compose.yml
  docs/features/new-patient-intake.md
  web/e2e/patients.spec.ts
  web/src/i18n/locales/en.json
  web/src/i18n/locales/es.json
  web/src/stores/patient.spec.ts
  web/src/types/patient.ts
  web/src/views/patients/PatientDetailView.vue
  web/src/views/patients/PatientsView.vue
Due: detekt, compile-kotlin, eslint, oxlint, prettier, typescript

feat: restrict doctor patient visibility to assigned patients (#30)
  api/src/main/kotlin/com/insidehealthgt/hms/controller/PatientController.kt
  api/src/main/kotlin/com/insidehealthgt/hms/dto/response/PatientResponse.kt
  api/src/main/kotlin/com/insidehealthgt/hms/repository/PatientRepository.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/PatientService.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/PatientControllerTest.kt
  docker-compose.yml
  docs/features/new-patient-intake.md
  web/e2e/patients.spec.ts
  web/src/i18n/locales/en.json
  web/src/i18n/locales/es.json
  web/src/stores/patient.spec.ts
  web/src/types/patient.ts
  web/src/views/patients/PatientDetailView.vue
  web/src/views/patients/PatientsView.vue
Due: detekt, compile-kotlin, eslint, oxlint, prettier, typescript

feat(web): replace dashboard with admitted patients table
  CLAUDE.md
  web/nginx.conf
  web/src/assets/admission-table.css
  web/src/components/admissions/ConsultingPhysiciansPanel.vue
  web/src/composables/useRelativeTime.ts
  web/src/i18n/locales/en.json
  web/src/i18n/locales/es.json
  web/src/utils/format.ts
  web/src/views/DashboardView.vue
  web/src/views/admissions/AdmissionDetailView.vue
  web/src/views/admissions/AdmissionsView.vue
  web/src/views/patients/PatientsView.vue
Due: eslint, oxlint, prettier, typescript

feat(web): replace dashboard with admitted patients table (#31)
  CLAUDE.md
  web/nginx.conf
  web/src/assets/admission-table.css
  web/src/components/admissions/ConsultingPhysiciansPanel.vue
  web/src/composables/useRelativeTime.ts
  web/src/i18n/locales/en.json
  web/src/i18n/locales/es.json
  web/src/utils/format.ts
  web/src/views/DashboardView.vue
  web/src/views/admissions/AdmissionDetailView.vue
  web/src/views/admissions/AdmissionsView.vue
  web/src/views/patients/PatientsView.vue
Due: eslint, oxlint, prettier, typescript

feat: restrict psychologist visibility to active admissions and admitted patients
  api/src/main/kotlin/com/insidehealthgt/hms/controller/AdmissionController.kt
  api/src/main/kotlin/com/insidehealthgt/hms/controller/PatientController.kt
  api/src/main/kotlin/com/insidehealthgt/hms/repository/PatientRepository.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/AdmissionService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/PatientService.kt
  api/src/main/resources/db/migration/V071__add_psychologist_patient_admission_permissions.sql
  api/src/test/kotlin/com/insidehealthgt/hms/controller/AdmissionControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/PatientControllerTest.kt
  web/e2e/psychologist-visibility.spec.ts
Due: detekt, compile-kotlin, eslint, oxlint, prettier, typescript

feat: restrict psychologist visibility to active admissions and admitted patients (#32)
  api/src/main/kotlin/com/insidehealthgt/hms/controller/AdmissionController.kt
  api/src/main/kotlin/com/insidehealthgt/hms/controller/PatientController.kt
  api/src/main/kotlin/com/insidehealthgt/hms/repository/PatientRepository.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/AdmissionService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/PatientService.kt
  api/src/main/resources/db/migration/V071__add_psychologist_patient_admission_permissions.sql
  api/src/test/kotlin/com/insidehealthgt/hms/controller/AdmissionControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/PatientControllerTest.kt
  web/e2e/psychologist-visibility.spec.ts
Due: detekt, compile-kotlin, eslint, oxlint, prettier, typescript

fix(web): use grid-column span for inventory form action buttons
  web/src/views/inventory/InventoryItemFormView.vue
Due: eslint, oxlint, prettier, typescript

fix(web): use grid-column span for inventory form action buttons (#33)
  web/src/views/inventory/InventoryItemFormView.vue
Due: eslint, oxlint, prettier, typescript

fix(web): align room form action buttons using grid-column span
  web/src/views/admin/RoomFormView.vue
Due: eslint, oxlint, prettier, typescript

fix(web): align room form action buttons using grid-column span (#34)
  web/src/views/admin/RoomFormView.vue
Due: eslint, oxlint, prettier, typescript

feat(i18n): replace all hardcoded strings with i18n message keys
  api/src/main/kotlin/com/insidehealthgt/hms/controller/AdmissionController.kt
  api/src/main/kotlin/com/insidehealthgt/hms/exception/GlobalExceptionHandler.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/AdmissionService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/AuthService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/BillingService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/ClinicalHistoryService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/DocumentTypeService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/FileStorageService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/InventoryItemService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/MedicationAdministrationService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/MessageService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/NursingNoteService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/PatientService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/PsychotherapyActivityService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/PsychotherapyCategoryService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/VitalSignService.kt
  api/src/main/resources/messages/errors.properties
  api/src/main/resources/messages/errors_es.properties
  api/src/main/resources/messages/messages.properties
  api/src/main/resources/messages/messages_es.properties
  api/src/test/kotlin/com/insidehealthgt/hms/service/AuthServiceTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/service/BillingServiceTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/service/FileStorageServiceTest.kt
  web/src/components/common/RichTextEditor.vue
  web/src/i18n/locales/en.json
  web/src/i18n/locales/es.json
  web/src/layout/AppConfigurator.vue
  web/src/layout/AppFooter.vue
  web/src/layout/AppTopbar.vue
  web/src/views/admin/TriageCodesView.vue
  web/src/views/admissions/AdmissionFormView.vue
  web/src/views/auth/LoginView.vue
  web/src/views/patients/PatientDetailView.vue
  web/src/views/patients/PatientFormView.vue
Due: detekt, compile-kotlin, eslint, oxlint, prettier, typescript

feat(i18n): replace all hardcoded strings with i18n message keys (#35)
  api/src/main/kotlin/com/insidehealthgt/hms/controller/AdmissionController.kt
  api/src/main/kotlin/com/insidehealthgt/hms/exception/GlobalExceptionHandler.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/AdmissionService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/AuthService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/BillingService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/ClinicalHistoryService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/DocumentTypeService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/FileStorageService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/InventoryItemService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/MedicationAdministrationService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/MessageService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/NursingNoteService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/PatientService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/PsychotherapyActivityService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/PsychotherapyCategoryService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/VitalSignService.kt
  api/src/main/resources/messages/errors.properties
  api/src/main/resources/messages/errors_es.properties
  api/src/main/resources/messages/messages.properties
  api/src/main/resources/messages/messages_es.properties
  api/src/test/kotlin/com/insidehealthgt/hms/service/AuthServiceTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/service/BillingServiceTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/service/FileStorageServiceTest.kt
  web/src/components/common/RichTextEditor.vue
  web/src/i18n/locales/en.json
  web/src/i18n/locales/es.json
  web/src/layout/AppConfigurator.vue
  web/src/layout/AppFooter.vue
  web/src/layout/AppTopbar.vue
  web/src/views/admin/TriageCodesView.vue
  web/src/views/admissions/AdmissionFormView.vue
  web/src/views/auth/LoginView.vue
  web/src/views/patients/PatientDetailView.vue
  web/src/views/patients/PatientFormView.vue
Due: detekt, compile-kotlin, eslint, oxlint, prettier, typescript

refactor(web): simplify AuditInfo into compact inline display
  web/src/components/common/AuditInfo.vue
  web/src/components/medical-record/ClinicalHistoryView.vue
  web/src/i18n/locales/en.json
  web/src/i18n/locales/es.json
  web/src/utils/format.ts
  web/src/views/admissions/AdmissionDetailView.vue
  web/src/views/patients/PatientDetailView.vue
Due: eslint, oxlint, prettier, typescript

refactor(web): simplify AuditInfo into compact inline display (#36)
  web/src/components/common/AuditInfo.vue
  web/src/components/medical-record/ClinicalHistoryView.vue
  web/src/i18n/locales/en.json
  web/src/i18n/locales/es.json
  web/src/utils/format.ts
  web/src/views/admissions/AdmissionDetailView.vue
  web/src/views/patients/PatientDetailView.vue
Due: eslint, oxlint, prettier, typescript

fix(web): broaden full-width CSS selector to apply grid span to action buttons
  web/src/views/admin/DocumentTypeFormView.vue
  web/src/views/admin/InventoryCategoryFormView.vue
  web/src/views/admin/RoomFormView.vue
  web/src/views/admin/TriageCodeFormView.vue
Due: eslint, oxlint, prettier, typescript

fix(web): broaden full-width CSS selector to apply grid span to action buttons (#37)
  web/src/views/admin/DocumentTypeFormView.vue
  web/src/views/admin/InventoryCategoryFormView.vue
  web/src/views/admin/RoomFormView.vue
  web/src/views/admin/TriageCodeFormView.vue
Due: eslint, oxlint, prettier, typescript

feat: add medical order document attachments
  CLAUDE.md
  api/src/main/kotlin/com/insidehealthgt/hms/controller/MedicalOrderDocumentController.kt
  api/src/main/kotlin/com/insidehealthgt/hms/dto/response/MedicalOrderDocumentResponse.kt
  api/src/main/kotlin/com/insidehealthgt/hms/dto/response/MedicalOrderResponse.kt
  api/src/main/kotlin/com/insidehealthgt/hms/entity/MedicalOrderDocument.kt
  api/src/main/kotlin/com/insidehealthgt/hms/repository/MedicalOrderDocumentRepository.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/FileStorageService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/MedicalOrderDocumentService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/MedicalOrderService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/MessageService.kt
  api/src/main/resources/db/migration/V072__create_medical_order_documents_table.sql
  api/src/main/resources/db/migration/V073__add_medical_order_document_permissions.sql
  api/src/main/resources/messages/errors.properties
  api/src/main/resources/messages/errors_es.properties
  api/src/main/resources/messages/messages.properties
  api/src/main/resources/messages/messages_es.properties
  api/src/test/kotlin/com/insidehealthgt/hms/controller/AbstractIntegrationTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/MedicalOrderDocumentControllerTest.kt
  web/e2e/admin-triage-codes.spec.ts
  web/e2e/admissions.spec.ts
  web/e2e/medical-order-documents.spec.ts
  web/e2e/patients.spec.ts
  web/src/components/documents/DocumentList.vue
  web/src/components/documents/DocumentThumbnail.vue
  web/src/components/medical-record/MedicalOrderCard.vue
  web/src/components/medical-record/MedicalOrderDocumentUploadDialog.vue
  web/src/components/medical-record/MedicalOrderDocumentViewer.vue
  web/src/i18n/locales/en.json
  web/src/i18n/locales/es.json
  web/src/stores/medicalOrderDocument.spec.ts
  web/src/stores/medicalOrderDocument.ts
  web/src/types/document.ts
  web/src/types/medicalRecord.ts
  web/src/validation/medicalOrderDocument.ts
Due: detekt, compile-kotlin, eslint, oxlint, prettier, typescript

feat: add medical order document attachments (#38)
  CLAUDE.md
  api/src/main/kotlin/com/insidehealthgt/hms/controller/MedicalOrderDocumentController.kt
  api/src/main/kotlin/com/insidehealthgt/hms/dto/response/MedicalOrderDocumentResponse.kt
  api/src/main/kotlin/com/insidehealthgt/hms/dto/response/MedicalOrderResponse.kt
  api/src/main/kotlin/com/insidehealthgt/hms/entity/MedicalOrderDocument.kt
  api/src/main/kotlin/com/insidehealthgt/hms/repository/MedicalOrderDocumentRepository.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/FileStorageService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/MedicalOrderDocumentService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/MedicalOrderService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/MessageService.kt
  api/src/main/resources/db/migration/V072__create_medical_order_documents_table.sql
  api/src/main/resources/db/migration/V073__add_medical_order_document_permissions.sql
  api/src/main/resources/messages/errors.properties
  api/src/main/resources/messages/errors_es.properties
  api/src/main/resources/messages/messages.properties
  api/src/main/resources/messages/messages_es.properties
  api/src/test/kotlin/com/insidehealthgt/hms/controller/AbstractIntegrationTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/MedicalOrderDocumentControllerTest.kt
  web/e2e/admin-triage-codes.spec.ts
  web/e2e/admissions.spec.ts
  web/e2e/medical-order-documents.spec.ts
  web/e2e/patients.spec.ts
  web/src/components/documents/DocumentList.vue
  web/src/components/documents/DocumentThumbnail.vue
  web/src/components/medical-record/MedicalOrderCard.vue
  web/src/components/medical-record/MedicalOrderDocumentUploadDialog.vue
  web/src/components/medical-record/MedicalOrderDocumentViewer.vue
  web/src/i18n/locales/en.json
  web/src/i18n/locales/es.json
  web/src/stores/medicalOrderDocument.spec.ts
  web/src/stores/medicalOrderDocument.ts
  web/src/types/document.ts
  web/src/types/medicalRecord.ts
  web/src/validation/medicalOrderDocument.ts
Due: detekt, compile-kotlin, eslint, oxlint, prettier, typescript

feat: add nursing kardex dashboard with aggregated clinical view
  CLAUDE.md
  api/src/main/kotlin/com/insidehealthgt/hms/controller/NursingKardexController.kt
  api/src/main/kotlin/com/insidehealthgt/hms/dto/response/KardexResponse.kt
  api/src/main/kotlin/com/insidehealthgt/hms/repository/AdmissionRepository.kt
  api/src/main/kotlin/com/insidehealthgt/hms/repository/MedicalOrderRepository.kt
  api/src/main/kotlin/com/insidehealthgt/hms/repository/MedicationAdministrationRepository.kt
  api/src/main/kotlin/com/insidehealthgt/hms/repository/NursingNoteRepository.kt
  api/src/main/kotlin/com/insidehealthgt/hms/repository/VitalSignRepository.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/NursingKardexService.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/NursingKardexControllerTest.kt
  docs/features/nursing-kardex.md
  web/e2e/nursing-kardex.spec.ts
  web/src/components/nursing/kardex/KardexCareInstructions.vue
  web/src/components/nursing/kardex/KardexMedicationList.vue
  web/src/components/nursing/kardex/KardexPatientCard.vue
  web/src/components/nursing/kardex/KardexVitalsSummary.vue
  web/src/composables/useVitalsFreshness.ts
  web/src/i18n/locales/en.json
  web/src/i18n/locales/es.json
  web/src/layout/AppMenu.vue
  web/src/router/index.ts
  web/src/stores/kardex.spec.ts
  web/src/stores/kardex.ts
  web/src/types/index.ts
  web/src/types/kardex.ts
  web/src/views/admissions/AdmissionDetailView.vue
  web/src/views/nursing/NursingKardexView.vue
Due: detekt, compile-kotlin, eslint, oxlint, prettier, typescript

feat: add nursing kardex dashboard with aggregated clinical view (#39)
  CLAUDE.md
  api/src/main/kotlin/com/insidehealthgt/hms/controller/NursingKardexController.kt
  api/src/main/kotlin/com/insidehealthgt/hms/dto/response/KardexResponse.kt
  api/src/main/kotlin/com/insidehealthgt/hms/repository/AdmissionRepository.kt
  api/src/main/kotlin/com/insidehealthgt/hms/repository/MedicalOrderRepository.kt
  api/src/main/kotlin/com/insidehealthgt/hms/repository/MedicationAdministrationRepository.kt
  api/src/main/kotlin/com/insidehealthgt/hms/repository/NursingNoteRepository.kt
  api/src/main/kotlin/com/insidehealthgt/hms/repository/VitalSignRepository.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/NursingKardexService.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/NursingKardexControllerTest.kt
  docs/features/nursing-kardex.md
  web/e2e/nursing-kardex.spec.ts
  web/src/components/nursing/kardex/KardexCareInstructions.vue
  web/src/components/nursing/kardex/KardexMedicationList.vue
  web/src/components/nursing/kardex/KardexPatientCard.vue
  web/src/components/nursing/kardex/KardexVitalsSummary.vue
  web/src/composables/useVitalsFreshness.ts
  web/src/i18n/locales/en.json
  web/src/i18n/locales/es.json
  web/src/layout/AppMenu.vue
  web/src/router/index.ts
  web/src/stores/kardex.spec.ts
  web/src/stores/kardex.ts
  web/src/types/index.ts
  web/src/types/kardex.ts
  web/src/views/admissions/AdmissionDetailView.vue
  web/src/views/nursing/NursingKardexView.vue
Due: detekt, compile-kotlin, eslint, oxlint, prettier, typescript

feat(api): make admin password configurable via environment variable
  api/src/main/kotlin/com/insidehealthgt/hms/config/AdminInitializer.kt
  api/src/main/resources/application-acceptance.yml
  api/src/main/resources/application.yml
Due: detekt, compile-kotlin

feat(api): make admin password configurable via environment variable (#40)
  api/src/main/kotlin/com/insidehealthgt/hms/config/AdminInitializer.kt
  api/src/main/resources/application-acceptance.yml
  api/src/main/resources/application.yml
Due: detekt, compile-kotlin

fix(build): pass ADMIN_PASSWORD env var to API container in production compose
  compose.prod.yml
Due: none

fix(build): pass ADMIN_PASSWORD env var to API container in production compose (#41)
  compose.prod.yml
Due: none

feat: add doctor fee billing to treasury module
  CLAUDE.md
  api/src/main/kotlin/com/insidehealthgt/hms/controller/DoctorFeeController.kt
  api/src/main/kotlin/com/insidehealthgt/hms/dto/request/CreateTreasuryEmployeeRequest.kt
  api/src/main/kotlin/com/insidehealthgt/hms/dto/request/DoctorFeeRequests.kt
  api/src/main/kotlin/com/insidehealthgt/hms/dto/request/TerminateEmployeeRequest.kt
  api/src/main/kotlin/com/insidehealthgt/hms/dto/request/UpdateTreasuryEmployeeRequest.kt
  api/src/main/kotlin/com/insidehealthgt/hms/dto/response/DoctorFeeResponse.kt
  api/src/main/kotlin/com/insidehealthgt/hms/entity/DoctorFee.kt
  api/src/main/kotlin/com/insidehealthgt/hms/entity/DoctorFeeBillingType.kt
  api/src/main/kotlin/com/insidehealthgt/hms/entity/DoctorFeeStatus.kt
  api/src/main/kotlin/com/insidehealthgt/hms/repository/DoctorFeeRepository.kt
  api/src/main/kotlin/com/insidehealthgt/hms/repository/InvoiceRepository.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/DoctorFeeService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/ExpenseService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/FileStorageService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/InvoiceService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/TreasuryEmployeeService.kt
  api/src/main/resources/db/migration/V085__create_doctor_fees_table.sql
  api/src/test/kotlin/com/insidehealthgt/hms/controller/AbstractIntegrationTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/DoctorFeeControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/IncomeControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/TreasuryEmployeeControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/service/DoctorFeeServiceTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/service/ExpenseServiceTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/service/TreasuryEmployeeServiceTest.kt
  web/src/components/treasury/DoctorFeeForm.vue
  web/src/components/treasury/DoctorFeeInvoiceDialog.vue
  web/src/components/treasury/DoctorFeeSettleDialog.vue
  web/src/i18n/locales/en.json
  web/src/i18n/locales/es.json
  web/src/router/index.ts
  web/src/stores/doctorFee.spec.ts
  web/src/stores/doctorFee.ts
  web/src/types/treasury.ts
  web/src/validation/treasury.ts
  web/src/views/treasury/DoctorFeeList.vue
  web/src/views/treasury/EmployeeList.vue
Due: detekt, compile-kotlin, eslint, oxlint, prettier, typescript

feat: add doctor fee billing to treasury module (#44)
  CLAUDE.md
  api/src/main/kotlin/com/insidehealthgt/hms/controller/DoctorFeeController.kt
  api/src/main/kotlin/com/insidehealthgt/hms/dto/request/CreateTreasuryEmployeeRequest.kt
  api/src/main/kotlin/com/insidehealthgt/hms/dto/request/DoctorFeeRequests.kt
  api/src/main/kotlin/com/insidehealthgt/hms/dto/request/TerminateEmployeeRequest.kt
  api/src/main/kotlin/com/insidehealthgt/hms/dto/request/UpdateTreasuryEmployeeRequest.kt
  api/src/main/kotlin/com/insidehealthgt/hms/dto/response/DoctorFeeResponse.kt
  api/src/main/kotlin/com/insidehealthgt/hms/entity/DoctorFee.kt
  api/src/main/kotlin/com/insidehealthgt/hms/entity/DoctorFeeBillingType.kt
  api/src/main/kotlin/com/insidehealthgt/hms/entity/DoctorFeeStatus.kt
  api/src/main/kotlin/com/insidehealthgt/hms/repository/DoctorFeeRepository.kt
  api/src/main/kotlin/com/insidehealthgt/hms/repository/InvoiceRepository.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/DoctorFeeService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/ExpenseService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/FileStorageService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/InvoiceService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/TreasuryEmployeeService.kt
  api/src/main/resources/db/migration/V085__create_doctor_fees_table.sql
  api/src/test/kotlin/com/insidehealthgt/hms/controller/AbstractIntegrationTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/DoctorFeeControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/IncomeControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/TreasuryEmployeeControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/service/DoctorFeeServiceTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/service/ExpenseServiceTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/service/TreasuryEmployeeServiceTest.kt
  web/src/components/treasury/DoctorFeeForm.vue
  web/src/components/treasury/DoctorFeeInvoiceDialog.vue
  web/src/components/treasury/DoctorFeeSettleDialog.vue
  web/src/i18n/locales/en.json
  web/src/i18n/locales/es.json
  web/src/router/index.ts
  web/src/stores/doctorFee.spec.ts
  web/src/stores/doctorFee.ts
  web/src/types/treasury.ts
  web/src/validation/treasury.ts
  web/src/views/treasury/DoctorFeeList.vue
  web/src/views/treasury/EmployeeList.vue
Due: detekt, compile-kotlin, eslint, oxlint, prettier, typescript

Path conditions:
  detekt: any of: **/*.kt and ^api/
  compile-kotlin: any of: **/*.kt and ^api/
  eslint: any of: **/*.{vue,ts,tsx,js} and ^web/
  oxlint: any of: **/*.{vue,ts,tsx,js} and ^web/
  prettier: any of: **/*.{vue,ts,tsx,js,json,css,scss} and ^web/
  typescript: any of: **/*.{vue,ts,tsx} and ^web/
