Repository ramonsterj/inside_health-hms: changes, and which lefthook commands are due for each by the changed paths.
All: detekt, compile-kotlin, eslint, oxlint, prettier, typescript

detekt:
  run: ./gradlew detekt --daemon

compile-kotlin:
  run: ./gradlew compileKotlin --daemon

eslint:
  run: npm run lint

oxlint:
  run: npm run lint:oxlint

prettier:
  run: npm run format:check

typescript:
  run: npx vue-tsc --noEmit

fix(db): replace broken V111 Kotlin loader with SQL, seed DRUG stock for QA (#67)
  CLAUDE.md
  api/src/main/kotlin/db/migration/V111__seed_pharmacy_from_workbook.kt
  api/src/main/resources/db/migration/V111__seed_pharmacy_from_workbook.sql
  api/src/main/resources/db/seed/R__seed_01_reset_and_base.sql
  api/src/main/resources/db/seed/R__seed_02_infrastructure.sql
  api/src/main/resources/db/seed/R__seed_03_admissions.sql
  api/src/main/resources/db/seed/R__seed_04_clinical_records.sql
  api/src/main/resources/db/seed/R__seed_05_nursing_and_vitals.sql
  api/src/main/resources/db/seed/R__seed_06_therapy_and_meds.sql
  api/src/main/resources/db/seed/R__seed_07_billing.sql
  api/src/test/kotlin/com/insidehealthgt/hms/pharmacy/PharmacyLotIT.kt
  docs/architecture/MIGRATIONS.md
  docs/features/pharmacy-and-inventory-evolution.md
Due: detekt, compile-kotlin

fix(db): rewrite V110 to self-heal legacy drug refs, idempotent pharmacy seed
  CLAUDE.md
  api/src/main/resources/db/migration/V110__hard_delete_v052_drug_catalog.sql
  api/src/main/resources/db/seed/R__seed_01_reset_and_base.sql
  api/src/main/resources/db/seed/R__seed_02_infrastructure.sql
  api/src/main/resources/db/seed/R__seed_02b_pharmacy_from_workbook.sql
  api/src/main/resources/db/seed/R__seed_03_admissions.sql
  api/src/main/resources/db/seed/R__seed_04_clinical_records.sql
  api/src/main/resources/db/seed/R__seed_05_nursing_and_vitals.sql
  api/src/main/resources/db/seed/R__seed_06_therapy_and_meds.sql
  api/src/main/resources/db/seed/R__seed_07_billing.sql
  api/src/test/kotlin/com/insidehealthgt/hms/pharmacy/PharmacyLotIT.kt
  docs/architecture/MIGRATIONS.md
  docs/features/pharmacy-and-inventory-evolution.md
Due: detekt, compile-kotlin

fix(db): rewrite V110 to self-heal legacy drug refs, idempotent pharmacy seed (#68)
  CLAUDE.md
  api/src/main/resources/db/migration/V110__hard_delete_v052_drug_catalog.sql
  api/src/main/resources/db/seed/R__seed_01_reset_and_base.sql
  api/src/main/resources/db/seed/R__seed_02_infrastructure.sql
  api/src/main/resources/db/seed/R__seed_02b_pharmacy_from_workbook.sql
  api/src/main/resources/db/seed/R__seed_03_admissions.sql
  api/src/main/resources/db/seed/R__seed_04_clinical_records.sql
  api/src/main/resources/db/seed/R__seed_05_nursing_and_vitals.sql
  api/src/main/resources/db/seed/R__seed_06_therapy_and_meds.sql
  api/src/main/resources/db/seed/R__seed_07_billing.sql
  api/src/test/kotlin/com/insidehealthgt/hms/pharmacy/PharmacyLotIT.kt
  docs/architecture/MIGRATIONS.md
  docs/features/pharmacy-and-inventory-evolution.md
Due: detekt, compile-kotlin

feat: add RESIDENT_DOCTOR role and resident slot on admissions
  CLAUDE.md
  api/src/main/kotlin/com/insidehealthgt/hms/controller/AdmissionController.kt
  api/src/main/kotlin/com/insidehealthgt/hms/controller/PatientController.kt
  api/src/main/kotlin/com/insidehealthgt/hms/dto/response/AdmissionDetailResponse.kt
  api/src/main/kotlin/com/insidehealthgt/hms/dto/response/AdmissionListResponse.kt
  api/src/main/kotlin/com/insidehealthgt/hms/entity/Admission.kt
  api/src/main/kotlin/com/insidehealthgt/hms/repository/AdmissionRepository.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/AdmissionService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/MessageService.kt
  api/src/main/resources/db/migration/V114__add_resident_doctor_role.sql
  api/src/main/resources/db/migration/V115__add_admission_resident.sql
  api/src/main/resources/db/seed/R__seed_01_reset_and_base.sql
  api/src/main/resources/db/seed/R__seed_02_infrastructure.sql
  api/src/main/resources/db/seed/R__seed_02b_pharmacy_from_workbook.sql
  api/src/main/resources/db/seed/R__seed_03_admissions.sql
  api/src/main/resources/db/seed/R__seed_04_clinical_records.sql
  api/src/main/resources/db/seed/R__seed_05_nursing_and_vitals.sql
  api/src/main/resources/db/seed/R__seed_06_therapy_and_meds.sql
  api/src/main/resources/db/seed/R__seed_07_billing.sql
  api/src/main/resources/messages/errors.properties
  api/src/main/resources/messages/errors_es.properties
  api/src/test/kotlin/com/insidehealthgt/hms/controller/AbstractIntegrationTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/AdmissionControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/MedicalOrderDocumentControllerTest.kt
  web/src/components/admissions/AdmissionCard.vue
  web/src/i18n/locales/en.json
  web/src/i18n/locales/es.json
  web/src/types/admission.ts
  web/src/views/admissions/AdmissionDetailView.vue
  web/src/views/admissions/AdmissionFormView.vue
Due: detekt, compile-kotlin, eslint, oxlint, prettier, typescript

feat: add RESIDENT_DOCTOR role and resident slot on admissions (#69)
  CLAUDE.md
  api/src/main/kotlin/com/insidehealthgt/hms/controller/AdmissionController.kt
  api/src/main/kotlin/com/insidehealthgt/hms/controller/PatientController.kt
  api/src/main/kotlin/com/insidehealthgt/hms/dto/response/AdmissionDetailResponse.kt
  api/src/main/kotlin/com/insidehealthgt/hms/dto/response/AdmissionListResponse.kt
  api/src/main/kotlin/com/insidehealthgt/hms/entity/Admission.kt
  api/src/main/kotlin/com/insidehealthgt/hms/repository/AdmissionRepository.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/AdmissionService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/MessageService.kt
  api/src/main/resources/db/migration/V114__add_resident_doctor_role.sql
  api/src/main/resources/db/migration/V115__add_admission_resident.sql
  api/src/main/resources/db/seed/R__seed_01_reset_and_base.sql
  api/src/main/resources/db/seed/R__seed_02_infrastructure.sql
  api/src/main/resources/db/seed/R__seed_02b_pharmacy_from_workbook.sql
  api/src/main/resources/db/seed/R__seed_03_admissions.sql
  api/src/main/resources/db/seed/R__seed_04_clinical_records.sql
  api/src/main/resources/db/seed/R__seed_05_nursing_and_vitals.sql
  api/src/main/resources/db/seed/R__seed_06_therapy_and_meds.sql
  api/src/main/resources/db/seed/R__seed_07_billing.sql
  api/src/main/resources/messages/errors.properties
  api/src/main/resources/messages/errors_es.properties
  api/src/test/kotlin/com/insidehealthgt/hms/controller/AbstractIntegrationTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/AdmissionControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/MedicalOrderDocumentControllerTest.kt
  web/src/components/admissions/AdmissionCard.vue
  web/src/i18n/locales/en.json
  web/src/i18n/locales/es.json
  web/src/types/admission.ts
  web/src/views/admissions/AdmissionDetailView.vue
  web/src/views/admissions/AdmissionFormView.vue
Due: detekt, compile-kotlin, eslint, oxlint, prettier, typescript

fix(db): make dev seed medication movements lot-aware
  api/src/main/resources/db/seed/R__seed_01_reset_and_base.sql
  api/src/main/resources/db/seed/R__seed_02_infrastructure.sql
  api/src/main/resources/db/seed/R__seed_02b_pharmacy_from_workbook.sql
  api/src/main/resources/db/seed/R__seed_03_admissions.sql
  api/src/main/resources/db/seed/R__seed_04_clinical_records.sql
  api/src/main/resources/db/seed/R__seed_05_nursing_and_vitals.sql
  api/src/main/resources/db/seed/R__seed_06_therapy_and_meds.sql
  api/src/main/resources/db/seed/R__seed_07_billing.sql
Due: none

fix(db): make dev seed medication movements lot-aware (#70)
  api/src/main/resources/db/seed/R__seed_01_reset_and_base.sql
  api/src/main/resources/db/seed/R__seed_02_infrastructure.sql
  api/src/main/resources/db/seed/R__seed_02b_pharmacy_from_workbook.sql
  api/src/main/resources/db/seed/R__seed_03_admissions.sql
  api/src/main/resources/db/seed/R__seed_04_clinical_records.sql
  api/src/main/resources/db/seed/R__seed_05_nursing_and_vitals.sql
  api/src/main/resources/db/seed/R__seed_06_therapy_and_meds.sql
  api/src/main/resources/db/seed/R__seed_07_billing.sql
Due: none

fix(web): switch medical order picker catalog by category
  docs/features/medical-psychiatric-record.md
  docs/features/nursing-roles-split.md
  docs/features/warehouse-inventory-management.md
  docs/roles-functionality-matrix.es.md
  docs/roles-functionality-matrix.md
  web/src/components/medical-record/MedicalOrderFormDialog.vue
Due: eslint, oxlint, prettier, typescript

fix(web): switch medical order picker catalog by category (#71)
  docs/features/medical-psychiatric-record.md
  docs/features/nursing-roles-split.md
  docs/features/warehouse-inventory-management.md
  docs/roles-functionality-matrix.es.md
  docs/roles-functionality-matrix.md
  web/src/components/medical-record/MedicalOrderFormDialog.vue
Due: eslint, oxlint, prettier, typescript

test(web): add resident to admission test fixtures
  web/src/components/admissions/AdmissionCard.spec.ts
  web/src/stores/admission.spec.ts
Due: eslint, oxlint, prettier, typescript

test(web): add resident to admission test fixtures (#72)
  web/src/components/admissions/AdmissionCard.spec.ts
  web/src/stores/admission.spec.ts
Due: eslint, oxlint, prettier, typescript

feat: scope psychologist medical-order access to psychometric tests
  api/src/main/kotlin/com/insidehealthgt/hms/service/MedicalOrderDocumentService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/MedicalOrderService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/MessageService.kt
  api/src/main/resources/db/migration/V116__grant_psychologist_medical_order_permissions.sql
  api/src/main/resources/db/seed/R__seed_01_reset_and_base.sql
  api/src/main/resources/db/seed/R__seed_02_infrastructure.sql
  api/src/main/resources/db/seed/R__seed_02b_pharmacy_from_workbook.sql
  api/src/main/resources/db/seed/R__seed_03_admissions.sql
  api/src/main/resources/db/seed/R__seed_04_clinical_records.sql
  api/src/main/resources/db/seed/R__seed_05_nursing_and_vitals.sql
  api/src/main/resources/db/seed/R__seed_06_therapy_and_meds.sql
  api/src/main/resources/db/seed/R__seed_07_billing.sql
  api/src/main/resources/messages/errors.properties
  api/src/main/resources/messages/errors_es.properties
  api/src/test/kotlin/com/insidehealthgt/hms/controller/MedicalOrderControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/MedicalOrderDocumentControllerTest.kt
  web/src/components/medical-record/MedicalOrderCard.vue
  web/src/composables/useErrorHandler.ts
  web/src/i18n/locales/en.json
  web/src/i18n/locales/es.json
  web/src/types/medicalRecord.ts
  web/src/views/medical-orders/MedicalOrdersByStateView.vue
Due: detekt, compile-kotlin, eslint, oxlint, prettier, typescript

feat: scope psychologist medical-order access to psychometric tests (#73)
  api/src/main/kotlin/com/insidehealthgt/hms/service/MedicalOrderDocumentService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/MedicalOrderService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/MessageService.kt
  api/src/main/resources/db/migration/V116__grant_psychologist_medical_order_permissions.sql
  api/src/main/resources/db/seed/R__seed_01_reset_and_base.sql
  api/src/main/resources/db/seed/R__seed_02_infrastructure.sql
  api/src/main/resources/db/seed/R__seed_02b_pharmacy_from_workbook.sql
  api/src/main/resources/db/seed/R__seed_03_admissions.sql
  api/src/main/resources/db/seed/R__seed_04_clinical_records.sql
  api/src/main/resources/db/seed/R__seed_05_nursing_and_vitals.sql
  api/src/main/resources/db/seed/R__seed_06_therapy_and_meds.sql
  api/src/main/resources/db/seed/R__seed_07_billing.sql
  api/src/main/resources/messages/errors.properties
  api/src/main/resources/messages/errors_es.properties
  api/src/test/kotlin/com/insidehealthgt/hms/controller/MedicalOrderControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/MedicalOrderDocumentControllerTest.kt
  web/src/components/medical-record/MedicalOrderCard.vue
  web/src/composables/useErrorHandler.ts
  web/src/i18n/locales/en.json
  web/src/i18n/locales/es.json
  web/src/types/medicalRecord.ts
  web/src/views/medical-orders/MedicalOrdersByStateView.vue
Due: detekt, compile-kotlin, eslint, oxlint, prettier, typescript

feat: add AUXILIARY_NURSE role with restricted nursing scope
  CLAUDE.md
  api/src/main/kotlin/com/insidehealthgt/hms/security/CurrentUserProvider.kt
  api/src/main/kotlin/com/insidehealthgt/hms/security/CustomUserDetails.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/MedicalOrderDocumentService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/MedicalOrderService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/MedicationAdministrationService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/MessageService.kt
  api/src/main/resources/db/migration/V117__add_auxiliary_nurse_role.sql
  api/src/main/resources/db/seed/R__seed_01_reset_and_base.sql
  api/src/main/resources/messages/errors.properties
  api/src/main/resources/messages/errors_es.properties
  api/src/test/kotlin/com/insidehealthgt/hms/controller/AuxiliaryNurseRestrictionTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/AuxiliaryNurseRoleMigrationTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/security/CustomUserDetailsTest.kt
  docs/features/medical-psychiatric-record.md
  docs/features/nursing-module.md
  docs/features/nursing-roles-split.md
  docs/roles-functionality-matrix.es.md
  docs/roles-functionality-matrix.md
  web/e2e/auxiliary-nurse.spec.ts
  web/src/components/medical-record/MedicalOrderCard.vue
  web/src/components/nursing/kardex/KardexMedicationList.spec.ts
  web/src/components/nursing/kardex/KardexMedicationList.vue
  web/src/router/index.ts
  web/src/stores/auth.ts
  web/src/views/medical-orders/MedicalOrdersByStateView.vue
Due: detekt, compile-kotlin, eslint, oxlint, prettier, typescript

feat: add AUXILIARY_NURSE role with restricted nursing scope (#74)
  CLAUDE.md
  api/src/main/kotlin/com/insidehealthgt/hms/security/CurrentUserProvider.kt
  api/src/main/kotlin/com/insidehealthgt/hms/security/CustomUserDetails.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/MedicalOrderDocumentService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/MedicalOrderService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/MedicationAdministrationService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/MessageService.kt
  api/src/main/resources/db/migration/V117__add_auxiliary_nurse_role.sql
  api/src/main/resources/db/seed/R__seed_01_reset_and_base.sql
  api/src/main/resources/messages/errors.properties
  api/src/main/resources/messages/errors_es.properties
  api/src/test/kotlin/com/insidehealthgt/hms/controller/AuxiliaryNurseRestrictionTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/AuxiliaryNurseRoleMigrationTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/security/CustomUserDetailsTest.kt
  docs/features/medical-psychiatric-record.md
  docs/features/nursing-module.md
  docs/features/nursing-roles-split.md
  docs/roles-functionality-matrix.es.md
  docs/roles-functionality-matrix.md
  web/e2e/auxiliary-nurse.spec.ts
  web/src/components/medical-record/MedicalOrderCard.vue
  web/src/components/nursing/kardex/KardexMedicationList.spec.ts
  web/src/components/nursing/kardex/KardexMedicationList.vue
  web/src/router/index.ts
  web/src/stores/auth.ts
  web/src/views/medical-orders/MedicalOrdersByStateView.vue
Due: detekt, compile-kotlin, eslint, oxlint, prettier, typescript

feat: make bed occupancy the default landing for resident doctors
  CLAUDE.md
  api/src/main/resources/db/migration/V118__grant_resident_doctor_occupancy_view.sql
  api/src/main/resources/db/seed/R__seed_01_reset_and_base.sql
  api/src/main/resources/db/seed/R__seed_02_infrastructure.sql
  api/src/main/resources/db/seed/R__seed_02b_pharmacy_from_workbook.sql
  api/src/main/resources/db/seed/R__seed_03_admissions.sql
  api/src/main/resources/db/seed/R__seed_04_clinical_records.sql
  api/src/main/resources/db/seed/R__seed_05_nursing_and_vitals.sql
  api/src/main/resources/db/seed/R__seed_06_therapy_and_meds.sql
  api/src/main/resources/db/seed/R__seed_07_billing.sql
  docs/features/bed-occupancy-view.md
  docs/features/nursing-kardex.md
  docs/features/nursing-roles-split.md
  web/e2e/auxiliary-nurse.spec.ts
  web/e2e/nursing-kardex.spec.ts
  web/src/router/index.ts
  web/src/views/operations/BedOccupancyView.vue
Due: eslint, oxlint, prettier, typescript

feat: make bed occupancy the default landing for resident doctors (#75)
  CLAUDE.md
  api/src/main/resources/db/migration/V118__grant_resident_doctor_occupancy_view.sql
  api/src/main/resources/db/seed/R__seed_01_reset_and_base.sql
  api/src/main/resources/db/seed/R__seed_02_infrastructure.sql
  api/src/main/resources/db/seed/R__seed_02b_pharmacy_from_workbook.sql
  api/src/main/resources/db/seed/R__seed_03_admissions.sql
  api/src/main/resources/db/seed/R__seed_04_clinical_records.sql
  api/src/main/resources/db/seed/R__seed_05_nursing_and_vitals.sql
  api/src/main/resources/db/seed/R__seed_06_therapy_and_meds.sql
  api/src/main/resources/db/seed/R__seed_07_billing.sql
  docs/features/bed-occupancy-view.md
  docs/features/nursing-kardex.md
  docs/features/nursing-roles-split.md
  web/e2e/auxiliary-nurse.spec.ts
  web/e2e/nursing-kardex.spec.ts
  web/src/router/index.ts
  web/src/views/operations/BedOccupancyView.vue
Due: eslint, oxlint, prettier, typescript

feat(api): let admins admit patients by picking a resident doctor
  CLAUDE.md
  api/src/main/kotlin/com/insidehealthgt/hms/controller/AdmissionController.kt
  api/src/main/kotlin/com/insidehealthgt/hms/dto/request/CreateAdmissionRequest.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/AdmissionService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/MessageService.kt
  api/src/main/resources/db/migration/V119__revoke_resident_doctor_from_admin.sql
  api/src/main/resources/db/seed/R__seed_01_reset_and_base.sql
  api/src/main/resources/db/seed/R__seed_02_infrastructure.sql
  api/src/main/resources/db/seed/R__seed_02b_pharmacy_from_workbook.sql
  api/src/main/resources/db/seed/R__seed_03_admissions.sql
  api/src/main/resources/db/seed/R__seed_04_clinical_records.sql
  api/src/main/resources/db/seed/R__seed_05_nursing_and_vitals.sql
  api/src/main/resources/db/seed/R__seed_06_therapy_and_meds.sql
  api/src/main/resources/db/seed/R__seed_07_billing.sql
  api/src/main/resources/messages/errors.properties
  api/src/main/resources/messages/errors_es.properties
  api/src/test/kotlin/com/insidehealthgt/hms/controller/AbstractIntegrationTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/AdmissionConsultingPhysicianControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/AdmissionControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/AdmissionDischargeControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/AdmissionDocumentControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/AdmissionTypeControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/BedOccupancyControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/PatientControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/PsychotherapyActivityControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/RoomControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/TriageCodeControllerTest.kt
  docs/features/patient-admission.md
  docs/roles-functionality-matrix.es.md
  docs/roles-functionality-matrix.md
  web/src/i18n/locales/en.json
  web/src/i18n/locales/es.json
  web/src/router/index.ts
  web/src/stores/admission.spec.ts
  web/src/stores/admission.ts
  web/src/types/admission.ts
  web/src/views/admissions/AdmissionFormView.spec.ts
  web/src/views/admissions/AdmissionFormView.vue
Due: detekt, compile-kotlin, eslint, oxlint, prettier, typescript

test(web): stabilize inventory and pharmacy-expiry E2E specs
  web/e2e/inventory.spec.ts
  web/e2e/pharmacy-expiry.spec.ts
Due: eslint, oxlint, prettier, typescript

feat(api): let admins admit patients by picking a resident doctor (#77)
  CLAUDE.md
  api/src/main/kotlin/com/insidehealthgt/hms/controller/AdmissionController.kt
  api/src/main/kotlin/com/insidehealthgt/hms/dto/request/CreateAdmissionRequest.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/AdmissionService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/MessageService.kt
  api/src/main/resources/db/migration/V122__revoke_resident_doctor_from_admin.sql
  api/src/main/resources/db/seed/R__seed_01_reset_and_base.sql
  api/src/main/resources/db/seed/R__seed_02_infrastructure.sql
  api/src/main/resources/db/seed/R__seed_02b_pharmacy_from_workbook.sql
  api/src/main/resources/db/seed/R__seed_03_admissions.sql
  api/src/main/resources/db/seed/R__seed_04_clinical_records.sql
  api/src/main/resources/db/seed/R__seed_05_nursing_and_vitals.sql
  api/src/main/resources/db/seed/R__seed_06_therapy_and_meds.sql
  api/src/main/resources/db/seed/R__seed_07_billing.sql
  api/src/main/resources/db/seed/R__seed_08_warehouse_transfers.sql
  api/src/main/resources/messages/errors.properties
  api/src/main/resources/messages/errors_es.properties
  api/src/test/kotlin/com/insidehealthgt/hms/controller/AbstractIntegrationTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/AdmissionConsultingPhysicianControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/AdmissionControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/AdmissionDischargeControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/AdmissionDocumentControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/AdmissionTypeControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/BedOccupancyControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/PatientControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/PsychotherapyActivityControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/RoomControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/TriageCodeControllerTest.kt
  docs/features/patient-admission.md
  docs/roles-functionality-matrix.es.md
  docs/roles-functionality-matrix.md
  web/src/i18n/locales/en.json
  web/src/i18n/locales/es.json
  web/src/router/index.ts
  web/src/stores/admission.spec.ts
  web/src/stores/admission.ts
  web/src/types/admission.ts
  web/src/views/admissions/AdmissionFormView.spec.ts
  web/src/views/admissions/AdmissionFormView.vue
Due: detekt, compile-kotlin, eslint, oxlint, prettier, typescript

test(web): fix admission form resident picker test
  web/src/views/admissions/AdmissionFormView.spec.ts
  web/src/views/admissions/AdmissionFormView.vue
Due: eslint, oxlint, prettier, typescript

test(web): fix admission form resident picker test (#78)
  web/src/views/admissions/AdmissionFormView.spec.ts
  web/src/views/admissions/AdmissionFormView.vue
Due: eslint, oxlint, prettier, typescript

fix(build): use vue-tsc build mode for type-check and add CI workflow
  .claude/commands/qa_check.md
  .github/workflows/ci.yml
  lefthook.yml
  web/package.json
  web/src/components/patients/PatientAdmissionsHistory.vue
Due: eslint, oxlint, prettier, typescript

style(web): apply prettier formatting across src
  web/src/components/admissions/AdmissionExportButton.spec.ts
  web/src/components/bedOccupancy/RoomOccupancyCard.spec.ts
  web/src/components/bedOccupancy/RoomOccupancyCard.vue
  web/src/components/medical-record/MedicalOrderEmergencyAuthorizeDialog.vue
  web/src/components/medical-record/MedicalOrderRejectDialog.vue
  web/src/components/nursing/kardex/KardexMedicationList.spec.ts
  web/src/components/nursing/kardex/KardexMedicationList.vue
  web/src/components/treasury/ColumnMappingForm.vue
  web/src/components/treasury/DoctorFeeForm.vue
  web/src/components/treasury/DoctorFeeInvoiceDialog.vue
  web/src/stores/auth.ts
  web/src/stores/bankStatement.spec.ts
  web/src/stores/bankStatement.ts
  web/src/stores/doctorFee.spec.ts
  web/src/stores/income.ts
  web/src/stores/medicalOrder.ts
  web/src/stores/treasuryReport.spec.ts
  web/src/stores/warehouse.spec.ts
  web/src/stores/warehouseTransfer.ts
  web/src/validation/treasury.ts
  web/src/views/admissions/AdmissionFormView.spec.ts
  web/src/views/operations/BedOccupancyView.vue
  web/src/views/pharmacy/PharmacyDetailView.vue
  web/src/views/pharmacy/PharmacyListView.vue
  web/src/views/treasury/BankAccountList.vue
  web/src/views/treasury/BankStatementList.vue
  web/src/views/treasury/BankSummaryReport.vue
  web/src/views/treasury/CompensationSummary.vue
  web/src/views/treasury/DoctorFeeList.vue
  web/src/views/treasury/EmployeeList.vue
  web/src/views/treasury/IndemnizacionLiabilityReport.vue
  web/src/views/treasury/MonthlyReport.vue
  web/src/views/treasury/ReconciliationSummary.vue
  web/src/views/treasury/ReconciliationView.vue
  web/src/views/treasury/TreasuryDashboard.vue
  web/src/views/treasury/UpcomingPayments.vue
  web/src/views/warehouse/WarehouseList.vue
Due: eslint, oxlint, prettier, typescript

fix(web): restore valid click handler in DoctorFeeList
  web/src/views/treasury/DoctorFeeList.vue
Due: eslint, oxlint, prettier, typescript

feat(web): replace medical record tabs with a card hub
  CLAUDE.md
  docs/features/discharge-protection.md
  docs/features/medical-psychiatric-record.md
  web/e2e/documents.spec.ts
  web/e2e/medical-record-clinical-history.spec.ts
  web/e2e/psychologist-visibility.spec.ts
  web/e2e/psychotherapy-activities.spec.ts
  web/e2e/utils/test-helpers.ts
  web/src/components/medical-record/AdmissionHeroHeader.spec.ts
  web/src/components/medical-record/AdmissionHeroHeader.vue
  web/src/components/medical-record/ClinicalHistoryView.spec.ts
  web/src/components/medical-record/ClinicalHistoryView.vue
  web/src/components/medical-record/MedicalRecordHub.spec.ts
  web/src/components/medical-record/MedicalRecordHub.vue
  web/src/components/medical-record/MedicalRecordSectionCard.spec.ts
  web/src/components/medical-record/MedicalRecordSectionCard.vue
  web/src/composables/useMedicalRecordSummary.spec.ts
  web/src/composables/useMedicalRecordSummary.ts
  web/src/i18n/locales/en.json
  web/src/i18n/locales/es.json
  web/src/stores/nursingNote.spec.ts
  web/src/stores/nursingNote.ts
  web/src/stores/progressNote.spec.ts
  web/src/stores/progressNote.ts
  web/src/stores/vitalSign.spec.ts
  web/src/stores/vitalSign.ts
  web/src/views/admissions/AdmissionDetailView.vue
Due: eslint, oxlint, prettier, typescript

feat(web): replace medical record tabs with a card hub (#81)
  CLAUDE.md
  docs/features/discharge-protection.md
  docs/features/medical-psychiatric-record.md
  web/e2e/documents.spec.ts
  web/e2e/medical-record-clinical-history.spec.ts
  web/e2e/psychologist-visibility.spec.ts
  web/e2e/psychotherapy-activities.spec.ts
  web/e2e/utils/test-helpers.ts
  web/src/components/medical-record/AdmissionHeroHeader.spec.ts
  web/src/components/medical-record/AdmissionHeroHeader.vue
  web/src/components/medical-record/ClinicalHistoryView.spec.ts
  web/src/components/medical-record/ClinicalHistoryView.vue
  web/src/components/medical-record/MedicalRecordHub.spec.ts
  web/src/components/medical-record/MedicalRecordHub.vue
  web/src/components/medical-record/MedicalRecordSectionCard.spec.ts
  web/src/components/medical-record/MedicalRecordSectionCard.vue
  web/src/composables/useMedicalRecordSummary.spec.ts
  web/src/composables/useMedicalRecordSummary.ts
  web/src/i18n/locales/en.json
  web/src/i18n/locales/es.json
  web/src/stores/nursingNote.spec.ts
  web/src/stores/nursingNote.ts
  web/src/stores/progressNote.spec.ts
  web/src/stores/progressNote.ts
  web/src/stores/vitalSign.spec.ts
  web/src/stores/vitalSign.ts
  web/src/views/admissions/AdmissionDetailView.vue
Due: eslint, oxlint, prettier, typescript

chore(i18n): add lint guards and locale parity test for translations
  web/eslint.config.js
  web/package-lock.json
  web/package.json
  web/src/components/treasury/BankStatementUpload.vue
  web/src/i18n/locales.parity.spec.ts
  web/src/i18n/locales/en.json
  web/src/i18n/locales/es.json
  web/src/views/AuditLogsView.vue
  web/src/views/admin/DocumentTypeFormView.vue
Due: eslint, oxlint, prettier, typescript

chore(build): allow the `== null` nullish idiom in oxlint eqeqeq
  web/.oxlintrc.json
Due: prettier

chore(i18n): add lint guards and locale parity test for translations (#84)
  web/.oxlintrc.json
  web/eslint.config.js
  web/package-lock.json
  web/package.json
  web/src/components/treasury/BankStatementUpload.vue
  web/src/i18n/locales.parity.spec.ts
  web/src/i18n/locales/en.json
  web/src/i18n/locales/es.json
  web/src/views/AuditLogsView.vue
  web/src/views/admin/DocumentTypeFormView.vue
Due: eslint, oxlint, prettier, typescript

feat(i18n): render coded reference data through translation keys
  CLAUDE.md
  api/src/main/resources/db/migration/V128__spanishize_reference_descriptions.sql
  api/src/main/resources/db/seed/R__seed_01_reset_and_base.sql
  api/src/main/resources/db/seed/R__seed_02_infrastructure.sql
  api/src/main/resources/db/seed/R__seed_02b_pharmacy_from_workbook.sql
  api/src/main/resources/db/seed/R__seed_03_admissions.sql
  api/src/main/resources/db/seed/R__seed_04_clinical_records.sql
  api/src/main/resources/db/seed/R__seed_05_nursing_and_vitals.sql
  api/src/main/resources/db/seed/R__seed_06_therapy_and_meds.sql
  api/src/main/resources/db/seed/R__seed_07_billing.sql
  api/src/main/resources/db/seed/R__seed_08_warehouse_transfers.sql
  api/src/test/kotlin/com/insidehealthgt/hms/i18n/I18nReferenceDataCoverageTest.kt
  docs/architecture/I18N.md
  web/src/components/admissions/AdmissionCard.vue
  web/src/components/admissions/AdmissionCardGrid.vue
  web/src/components/admissions/AdmissionsGroupRowHeader.vue
  web/src/components/documents/DocumentList.vue
  web/src/components/documents/DocumentUploadDialog.vue
  web/src/components/medical-record/ProgressNoteCard.vue
  web/src/components/nursing/NursingNoteCard.vue
  web/src/components/psychotherapy/PsychotherapyActivityCard.vue
  web/src/composables/useAdmissionsTableGrouping.ts
  web/src/composables/useCodeLabels.ts
  web/src/i18n/catalogs.spec.ts
  web/src/i18n/catalogs.ts
  web/src/i18n/locales/en.json
  web/src/i18n/locales/es.json
  web/src/views/RolesView.vue
  web/src/views/UsersView.vue
  web/src/views/admin/DocumentTypesView.vue
  web/src/views/admin/TriageCodesView.vue
  web/src/views/admissions/AdmissionFormView.vue
  web/src/views/warehouse/WarehouseList.vue
  web/src/views/warehouse/WarehouseStockView.vue
Due: detekt, compile-kotlin, eslint, oxlint, prettier, typescript

Path conditions:
  detekt: any of: **/*.kt and ^api/
  compile-kotlin: any of: **/*.kt and ^api/
  eslint: any of: **/*.{vue,ts,tsx,js} and ^web/
  oxlint: any of: **/*.{vue,ts,tsx,js} and ^web/
  prettier: any of: **/*.{vue,ts,tsx,js,json,css,scss} and ^web/
  typescript: any of: **/*.{vue,ts,tsx} and ^web/
