Repository ramonsterj/inside_health-hms: changes, and which lefthook commands are due for each by the changed paths.
All: detekt, compile-kotlin, eslint, oxlint, prettier, typescript

lefthook.yml:

# Lefthook configuration for hms
# https://github.com/evilmartians/lefthook

min_version: 1.6.0

pre-commit:
  parallel: true
  commands:
    # Backend checks
    detekt:
      root: api/
      glob: "**/*.kt"
      run: ./gradlew detekt --daemon

    compile-kotlin:
      root: api/
      glob: "**/*.kt"
      run: ./gradlew compileKotlin --daemon

    # Frontend checks
    eslint:
      root: web/
      glob: "**/*.{vue,ts,tsx,js}"
      run: npm run lint

    oxlint:
      root: web/
      glob: "**/*.{vue,ts,tsx,js}"
      run: npm run lint:oxlint

    prettier:
      root: web/
      glob: "**/*.{vue,ts,tsx,js,json,css,scss}"
      run: npm run format:check

    typescript:
      root: web/
      glob: "**/*.{vue,ts,tsx}"
      run: npx vue-tsc --noEmit

pre-push:
  commands:
    # Backend - full build includes compile, detekt, and tests
    build-backend:
      root: api/
      run: ./gradlew build --daemon

    # Frontend - full build includes type-check and vite build
    build-frontend:
      root: web/
      run: npm run build

    # Optional: Uncomment to run frontend unit tests on push
    # test-frontend:
    #   root: web/
    #   run: npm run test:run
    #
    # Note: E2E tests (npm run test:e2e) are too slow for git hooks.
    # Run them in CI/CD instead.

feat: add treasury dashboard with reporting views and API
  api/src/main/kotlin/com/insidehealthgt/hms/controller/TreasuryReportController.kt
  api/src/main/kotlin/com/insidehealthgt/hms/dto/response/TreasuryReportDtos.kt
  api/src/main/kotlin/com/insidehealthgt/hms/repository/BankStatementRepository.kt
  api/src/main/kotlin/com/insidehealthgt/hms/repository/ExpensePaymentRepository.kt
  api/src/main/kotlin/com/insidehealthgt/hms/repository/ExpenseRepository.kt
  api/src/main/kotlin/com/insidehealthgt/hms/repository/IncomeRepository.kt
  api/src/main/kotlin/com/insidehealthgt/hms/repository/PayrollEntryRepository.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/TreasuryEmployeeService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/TreasuryReportService.kt
  api/src/main/resources/db/migration/V088__seed_treasury_test_data.sql
  api/src/test/kotlin/com/insidehealthgt/hms/service/TreasuryReportServiceTest.kt
  web/src/i18n/locales/en.json
  web/src/i18n/locales/es.json
  web/src/layout/AppMenu.vue
  web/src/router/index.ts
  web/src/stores/treasuryReport.spec.ts
  web/src/stores/treasuryReport.ts
  web/src/types/treasury.ts
  web/src/utils/format.ts
  web/src/views/treasury/BankSummaryReport.vue
  web/src/views/treasury/CompensationSummary.vue
  web/src/views/treasury/IndemnizacionLiabilityReport.vue
  web/src/views/treasury/MonthlyReport.vue
  web/src/views/treasury/ReconciliationSummary.vue
  web/src/views/treasury/TreasuryDashboard.vue
  web/src/views/treasury/UpcomingPayments.vue
Due: detekt, compile-kotlin, eslint, oxlint, prettier, typescript

feat: add treasury dashboard with reporting views and API (#46)
  api/src/main/kotlin/com/insidehealthgt/hms/controller/TreasuryReportController.kt
  api/src/main/kotlin/com/insidehealthgt/hms/dto/response/TreasuryReportDtos.kt
  api/src/main/kotlin/com/insidehealthgt/hms/repository/BankStatementRepository.kt
  api/src/main/kotlin/com/insidehealthgt/hms/repository/ExpensePaymentRepository.kt
  api/src/main/kotlin/com/insidehealthgt/hms/repository/ExpenseRepository.kt
  api/src/main/kotlin/com/insidehealthgt/hms/repository/IncomeRepository.kt
  api/src/main/kotlin/com/insidehealthgt/hms/repository/PayrollEntryRepository.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/TreasuryEmployeeService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/TreasuryReportService.kt
  api/src/main/resources/db/migration/V088__seed_treasury_test_data.sql
  api/src/test/kotlin/com/insidehealthgt/hms/service/TreasuryReportServiceTest.kt
  web/src/i18n/locales/en.json
  web/src/i18n/locales/es.json
  web/src/layout/AppMenu.vue
  web/src/router/index.ts
  web/src/stores/treasuryReport.spec.ts
  web/src/stores/treasuryReport.ts
  web/src/types/treasury.ts
  web/src/utils/format.ts
  web/src/views/treasury/BankSummaryReport.vue
  web/src/views/treasury/CompensationSummary.vue
  web/src/views/treasury/IndemnizacionLiabilityReport.vue
  web/src/views/treasury/MonthlyReport.vue
  web/src/views/treasury/ReconciliationSummary.vue
  web/src/views/treasury/TreasuryDashboard.vue
  web/src/views/treasury/UpcomingPayments.vue
Due: detekt, compile-kotlin, eslint, oxlint, prettier, typescript

chore(api): update deploy domain to insidehealthgt.com
  api/src/main/resources/application-acceptance.yml
  api/src/main/resources/application-prod.yml
Due: none

chore(api): update deploy domain to insidehealthgt.com (#47)
  api/src/main/resources/application-acceptance.yml
  api/src/main/resources/application-prod.yml
Due: none

docs: add roles and functionality matrix
  docs/roles-functionality-matrix.es.md
  docs/roles-functionality-matrix.md
Due: none

fix: improve treasury module integrity and data completeness
  CLAUDE.md
  api/src/main/kotlin/com/insidehealthgt/hms/controller/ExpenseController.kt
  api/src/main/kotlin/com/insidehealthgt/hms/dto/request/AcknowledgeRowRequest.kt
  api/src/main/kotlin/com/insidehealthgt/hms/dto/response/BankStatementResponse.kt
  api/src/main/kotlin/com/insidehealthgt/hms/dto/response/BankStatementRowResponse.kt
  api/src/main/kotlin/com/insidehealthgt/hms/dto/response/DoctorFeeResponse.kt
  api/src/main/kotlin/com/insidehealthgt/hms/dto/response/IndemnizacionResponse.kt
  api/src/main/kotlin/com/insidehealthgt/hms/entity/BankStatement.kt
  api/src/main/kotlin/com/insidehealthgt/hms/entity/BankStatementRow.kt
  api/src/main/kotlin/com/insidehealthgt/hms/entity/BankStatementStatus.kt
  api/src/main/kotlin/com/insidehealthgt/hms/repository/DoctorFeeRepository.kt
  api/src/main/kotlin/com/insidehealthgt/hms/repository/PayrollEntryRepository.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/BankStatementService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/DoctorFeeService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/ReconciliationService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/TreasuryEmployeeService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/TreasuryReportService.kt
  api/src/main/resources/db/migration/V089__treasury_integrity_fixes.sql
  api/src/test/kotlin/com/insidehealthgt/hms/controller/DoctorFeeControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/service/BankStatementServiceTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/service/DoctorFeeServiceTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/service/TreasuryReportServiceTest.kt
  web/src/i18n/locales/en.json
  web/src/i18n/locales/es.json
  web/src/stores/bankStatement.spec.ts
  web/src/stores/doctorFee.spec.ts
  web/src/stores/expense.spec.ts
  web/src/stores/expense.ts
  web/src/types/treasury.ts
  web/src/validation/treasury.ts
  web/src/views/treasury/DoctorFeeList.vue
  web/src/views/treasury/ReconciliationView.vue
Due: detekt, compile-kotlin, eslint, oxlint, prettier, typescript

docs: add roles and functionality matrix (#48)
  docs/roles-functionality-matrix.es.md
  docs/roles-functionality-matrix.md
Due: none

fix: improve treasury module integrity and data completeness (#49)
  CLAUDE.md
  api/src/main/kotlin/com/insidehealthgt/hms/controller/ExpenseController.kt
  api/src/main/kotlin/com/insidehealthgt/hms/dto/request/AcknowledgeRowRequest.kt
  api/src/main/kotlin/com/insidehealthgt/hms/dto/response/BankStatementResponse.kt
  api/src/main/kotlin/com/insidehealthgt/hms/dto/response/BankStatementRowResponse.kt
  api/src/main/kotlin/com/insidehealthgt/hms/dto/response/DoctorFeeResponse.kt
  api/src/main/kotlin/com/insidehealthgt/hms/dto/response/IndemnizacionResponse.kt
  api/src/main/kotlin/com/insidehealthgt/hms/entity/BankStatement.kt
  api/src/main/kotlin/com/insidehealthgt/hms/entity/BankStatementRow.kt
  api/src/main/kotlin/com/insidehealthgt/hms/entity/BankStatementStatus.kt
  api/src/main/kotlin/com/insidehealthgt/hms/repository/DoctorFeeRepository.kt
  api/src/main/kotlin/com/insidehealthgt/hms/repository/PayrollEntryRepository.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/BankStatementService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/DoctorFeeService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/ReconciliationService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/TreasuryEmployeeService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/TreasuryReportService.kt
  api/src/main/resources/db/migration/V089__treasury_integrity_fixes.sql
  api/src/test/kotlin/com/insidehealthgt/hms/controller/DoctorFeeControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/service/BankStatementServiceTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/service/DoctorFeeServiceTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/service/TreasuryReportServiceTest.kt
  web/src/i18n/locales/en.json
  web/src/i18n/locales/es.json
  web/src/stores/bankStatement.spec.ts
  web/src/stores/doctorFee.spec.ts
  web/src/stores/expense.spec.ts
  web/src/stores/expense.ts
  web/src/types/treasury.ts
  web/src/validation/treasury.ts
  web/src/views/treasury/DoctorFeeList.vue
  web/src/views/treasury/ReconciliationView.vue
Due: detekt, compile-kotlin, eslint, oxlint, prettier, typescript

feat: localize login error feedback and surface it via toast
  api/src/main/kotlin/com/insidehealthgt/hms/service/AuthService.kt
  api/src/test/kotlin/com/insidehealthgt/hms/service/AuthServiceTest.kt
  web/e2e/auth.spec.ts
  web/src/App.vue
  web/src/i18n/locales/en.json
  web/src/i18n/locales/es.json
  web/src/layout/AppLayout.vue
  web/src/services/api.ts
Due: detekt, compile-kotlin, eslint, oxlint, prettier, typescript

feat: localize login error feedback and surface it via toast (#50)
  api/src/main/kotlin/com/insidehealthgt/hms/service/AuthService.kt
  api/src/test/kotlin/com/insidehealthgt/hms/service/AuthServiceTest.kt
  web/e2e/auth.spec.ts
  web/src/App.vue
  web/src/i18n/locales/en.json
  web/src/i18n/locales/es.json
  web/src/layout/AppLayout.vue
  web/src/services/api.ts
Due: detekt, compile-kotlin, eslint, oxlint, prettier, typescript

feat(web): add admissions cards view with grouping and persisted preferences
  CLAUDE.md
  docs/features/admissions-list-view.md
  docs/features/patient-admission.md
  web/e2e/admissions-list-view.spec.ts
  web/src/components/admissions/AdmissionCard.spec.ts
  web/src/components/admissions/AdmissionCard.vue
  web/src/components/admissions/AdmissionCardGrid.vue
  web/src/components/admissions/AdmissionsGroupRowHeader.vue
  web/src/components/admissions/AdmissionsListSection.vue
  web/src/components/admissions/AdmissionsListToolbar.vue
  web/src/components/icons/GenderIcon.vue
  web/src/composables/useAdmissionFilterOptions.ts
  web/src/composables/useAdmissionsTableGrouping.ts
  web/src/constants/admissionType.ts
  web/src/i18n/locales/en.json
  web/src/i18n/locales/es.json
  web/src/stores/admissionsListPreferences.spec.ts
  web/src/stores/admissionsListPreferences.ts
  web/src/views/DashboardView.vue
  web/src/views/admissions/AdmissionsView.vue
Due: eslint, oxlint, prettier, typescript

chore: ignore stray root node_modules and Claude scheduled_tasks lock
  .gitignore
Due: none

feat(web): admissions cards view with grouping and persisted preferences (#51)
  .gitignore
  CLAUDE.md
  docs/features/admissions-list-view.md
  docs/features/patient-admission.md
  web/e2e/admissions-list-view.spec.ts
  web/src/components/admissions/AdmissionCard.spec.ts
  web/src/components/admissions/AdmissionCard.vue
  web/src/components/admissions/AdmissionCardGrid.vue
  web/src/components/admissions/AdmissionsGroupRowHeader.vue
  web/src/components/admissions/AdmissionsListSection.vue
  web/src/components/admissions/AdmissionsListToolbar.vue
  web/src/components/icons/GenderIcon.vue
  web/src/composables/useAdmissionFilterOptions.ts
  web/src/composables/useAdmissionsTableGrouping.ts
  web/src/constants/admissionType.ts
  web/src/i18n/locales/en.json
  web/src/i18n/locales/es.json
  web/src/stores/admissionsListPreferences.spec.ts
  web/src/stores/admissionsListPreferences.ts
  web/src/views/DashboardView.vue
  web/src/views/admissions/AdmissionsView.vue
Due: eslint, oxlint, prettier, typescript

feat: add glucometría (blood glucose) as optional vital sign
  CLAUDE.md
  api/src/main/kotlin/com/insidehealthgt/hms/dto/request/CreateVitalSignRequest.kt
  api/src/main/kotlin/com/insidehealthgt/hms/dto/response/KardexResponse.kt
  api/src/main/kotlin/com/insidehealthgt/hms/dto/response/VitalSignResponse.kt
  api/src/main/kotlin/com/insidehealthgt/hms/entity/VitalSign.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/VitalSignService.kt
  api/src/main/resources/db/migration/V090__add_glucose_to_vital_signs.sql
  api/src/test/kotlin/com/insidehealthgt/hms/controller/VitalSignControllerTest.kt
  docs/architecture/ARCHITECTURE.md
  docs/features/nursing-module.md
  web/e2e/nursing-kardex.spec.ts
  web/e2e/nursing.spec.ts
  web/src/components/nursing/VitalSignCharts.vue
  web/src/components/nursing/VitalSignFormDialog.vue
  web/src/components/nursing/VitalSignTable.vue
  web/src/components/nursing/kardex/KardexVitalsSummary.vue
  web/src/i18n/locales/en.json
  web/src/i18n/locales/es.json
  web/src/stores/kardex.spec.ts
  web/src/stores/vitalSign.spec.ts
  web/src/types/kardex.ts
  web/src/types/nursing.ts
  web/src/validation/nursing.ts
Due: detekt, compile-kotlin, eslint, oxlint, prettier, typescript

feat: add glucometría (blood glucose) as optional vital sign (#52)
  CLAUDE.md
  api/src/main/kotlin/com/insidehealthgt/hms/dto/request/CreateVitalSignRequest.kt
  api/src/main/kotlin/com/insidehealthgt/hms/dto/response/KardexResponse.kt
  api/src/main/kotlin/com/insidehealthgt/hms/dto/response/VitalSignResponse.kt
  api/src/main/kotlin/com/insidehealthgt/hms/entity/VitalSign.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/VitalSignService.kt
  api/src/main/resources/db/migration/V090__add_glucose_to_vital_signs.sql
  api/src/test/kotlin/com/insidehealthgt/hms/controller/VitalSignControllerTest.kt
  docs/architecture/ARCHITECTURE.md
  docs/features/nursing-module.md
  web/e2e/nursing-kardex.spec.ts
  web/e2e/nursing.spec.ts
  web/src/components/nursing/VitalSignCharts.vue
  web/src/components/nursing/VitalSignFormDialog.vue
  web/src/components/nursing/VitalSignTable.vue
  web/src/components/nursing/kardex/KardexVitalsSummary.vue
  web/src/i18n/locales/en.json
  web/src/i18n/locales/es.json
  web/src/stores/kardex.spec.ts
  web/src/stores/vitalSign.spec.ts
  web/src/types/kardex.ts
  web/src/types/nursing.ts
  web/src/validation/nursing.ts
Due: detekt, compile-kotlin, eslint, oxlint, prettier, typescript

feat: add bed occupancy view with real-time room availability
  CLAUDE.md
  api/src/main/kotlin/com/insidehealthgt/hms/controller/RoomController.kt
  api/src/main/kotlin/com/insidehealthgt/hms/dto/response/BedOccupancyResponse.kt
  api/src/main/kotlin/com/insidehealthgt/hms/repository/RoomRepository.kt
  api/src/main/kotlin/com/insidehealthgt/hms/repository/projection/RoomOccupancyRow.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/RoomService.kt
  api/src/main/resources/db/migration/V090__add_glucose_to_vital_signs.sql
  api/src/main/resources/db/migration/V091__add_room_occupancy_permission.sql
  api/src/main/resources/db/seed/R__seed_01_reset_and_base.sql
  api/src/test/kotlin/com/insidehealthgt/hms/controller/AdmissionControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/BedOccupancyControllerTest.kt
  docs/features/bed-occupancy-view.md
  docs/features/patient-admission.md
  web/src/components/bedOccupancy/BedOccupancyFilters.vue
  web/src/components/bedOccupancy/BedOccupancySummary.vue
  web/src/components/bedOccupancy/BedSlot.vue
  web/src/components/bedOccupancy/RoomOccupancyCard.spec.ts
  web/src/components/bedOccupancy/RoomOccupancyCard.vue
  web/src/i18n/locales/en.json
  web/src/i18n/locales/es.json
  web/src/layout/AppMenu.vue
  web/src/router/index.ts
  web/src/stores/bedOccupancy.spec.ts
  web/src/stores/bedOccupancy.ts
  web/src/types/room.ts
  web/src/views/admissions/AdmissionFormView.vue
  web/src/views/operations/BedOccupancyView.vue
  web/src/views/patients/PatientFormView.vue
  web/src/views/patients/PatientsView.vue
Due: detekt, compile-kotlin, eslint, oxlint, prettier, typescript

feat: add bed occupancy view with real-time room availability (#53)
  CLAUDE.md
  api/src/main/kotlin/com/insidehealthgt/hms/controller/RoomController.kt
  api/src/main/kotlin/com/insidehealthgt/hms/dto/response/BedOccupancyResponse.kt
  api/src/main/kotlin/com/insidehealthgt/hms/repository/RoomRepository.kt
  api/src/main/kotlin/com/insidehealthgt/hms/repository/projection/RoomOccupancyRow.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/RoomService.kt
  api/src/main/resources/db/migration/V091__add_room_occupancy_permission.sql
  api/src/main/resources/db/seed/R__seed_01_reset_and_base.sql
  api/src/test/kotlin/com/insidehealthgt/hms/controller/AdmissionControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/BedOccupancyControllerTest.kt
  docs/features/bed-occupancy-view.md
  docs/features/patient-admission.md
  web/src/components/bedOccupancy/BedOccupancyFilters.vue
  web/src/components/bedOccupancy/BedOccupancySummary.vue
  web/src/components/bedOccupancy/BedSlot.vue
  web/src/components/bedOccupancy/RoomOccupancyCard.spec.ts
  web/src/components/bedOccupancy/RoomOccupancyCard.vue
  web/src/i18n/locales/en.json
  web/src/i18n/locales/es.json
  web/src/layout/AppMenu.vue
  web/src/router/index.ts
  web/src/stores/bedOccupancy.spec.ts
  web/src/stores/bedOccupancy.ts
  web/src/types/room.ts
  web/src/views/admissions/AdmissionFormView.vue
  web/src/views/operations/BedOccupancyView.vue
  web/src/views/patients/PatientFormView.vue
  web/src/views/patients/PatientsView.vue
Due: detekt, compile-kotlin, eslint, oxlint, prettier, typescript

chore: bed occupancy follow-ups and seed bundle versioning
  api/src/main/resources/db/seed/R__seed_01_reset_and_base.sql
  api/src/main/resources/db/seed/R__seed_02_infrastructure.sql
  api/src/main/resources/db/seed/R__seed_03_admissions.sql
  api/src/main/resources/db/seed/R__seed_04_clinical_records.sql
  api/src/main/resources/db/seed/R__seed_05_nursing_and_vitals.sql
  api/src/main/resources/db/seed/R__seed_06_therapy_and_meds.sql
  api/src/main/resources/db/seed/R__seed_07_billing.sql
  web/e2e/bed-occupancy.spec.ts
  web/src/components/bedOccupancy/RoomOccupancyCard.spec.ts
  web/src/i18n/locales/en.json
  web/src/i18n/locales/es.json
  web/src/views/operations/BedOccupancyView.vue
Due: eslint, oxlint, prettier, typescript

chore: bed occupancy follow-ups and seed bundle versioning (#54)
  api/src/main/resources/db/seed/R__seed_01_reset_and_base.sql
  api/src/main/resources/db/seed/R__seed_02_infrastructure.sql
  api/src/main/resources/db/seed/R__seed_03_admissions.sql
  api/src/main/resources/db/seed/R__seed_04_clinical_records.sql
  api/src/main/resources/db/seed/R__seed_05_nursing_and_vitals.sql
  api/src/main/resources/db/seed/R__seed_06_therapy_and_meds.sql
  api/src/main/resources/db/seed/R__seed_07_billing.sql
  web/e2e/bed-occupancy.spec.ts
  web/src/components/bedOccupancy/RoomOccupancyCard.spec.ts
  web/src/i18n/locales/en.json
  web/src/i18n/locales/es.json
  web/src/views/operations/BedOccupancyView.vue
Due: eslint, oxlint, prettier, typescript

refactor(api): centralize current user lookup in CurrentUserProvider
  api/src/main/kotlin/com/insidehealthgt/hms/audit/AuditEntityListener.kt
  api/src/main/kotlin/com/insidehealthgt/hms/config/JpaConfig.kt
  api/src/main/kotlin/com/insidehealthgt/hms/security/CurrentUserProvider.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/AuthService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/MedicalOrderDocumentService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/MedicalOrderService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/NursingNoteService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/PsychotherapyActivityService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/UserService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/VitalSignService.kt
  api/src/test/kotlin/com/insidehealthgt/hms/repository/PasswordResetTokenRepositoryTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/repository/UserRepositoryTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/security/CurrentUserProviderTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/service/AuthServiceTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/service/UserServiceTest.kt
Due: detekt, compile-kotlin

refactor(api): centralize current user lookup in CurrentUserProvider (#58)
  api/src/main/kotlin/com/insidehealthgt/hms/audit/AuditEntityListener.kt
  api/src/main/kotlin/com/insidehealthgt/hms/config/JpaConfig.kt
  api/src/main/kotlin/com/insidehealthgt/hms/security/CurrentUserProvider.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/AuthService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/MedicalOrderDocumentService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/MedicalOrderService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/NursingNoteService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/PsychotherapyActivityService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/UserService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/VitalSignService.kt
  api/src/test/kotlin/com/insidehealthgt/hms/repository/PasswordResetTokenRepositoryTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/repository/UserRepositoryTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/security/CurrentUserProviderTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/service/AuthServiceTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/service/UserServiceTest.kt
Due: detekt, compile-kotlin

fix: separate medical order rejection audit from authorization fields
  CLAUDE.md
  api/src/main/kotlin/com/insidehealthgt/hms/dto/response/MedicalOrderListItemResponse.kt
  api/src/main/kotlin/com/insidehealthgt/hms/dto/response/MedicalOrderResponse.kt
  api/src/main/kotlin/com/insidehealthgt/hms/entity/MedicalOrder.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/MedicalOrderService.kt
  api/src/main/resources/db/migration/V094__add_medical_order_rejection_audit.sql
  api/src/test/kotlin/com/insidehealthgt/hms/controller/MedicalOrderControllerTest.kt
  docs/features/medical-psychiatric-record.md
  web/e2e/medical-record-medical-orders.spec.ts
  web/src/components/medical-record/MedicalOrderCard.vue
  web/src/stores/medicalOrder.spec.ts
  web/src/types/medicalRecord.ts
Due: detekt, compile-kotlin, eslint, oxlint, prettier, typescript

fix: separate medical order rejection audit from authorization fields (#59)
  CLAUDE.md
  api/src/main/kotlin/com/insidehealthgt/hms/dto/response/MedicalOrderListItemResponse.kt
  api/src/main/kotlin/com/insidehealthgt/hms/dto/response/MedicalOrderResponse.kt
  api/src/main/kotlin/com/insidehealthgt/hms/entity/MedicalOrder.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/MedicalOrderService.kt
  api/src/main/resources/db/migration/V094__add_medical_order_rejection_audit.sql
  api/src/test/kotlin/com/insidehealthgt/hms/controller/MedicalOrderControllerTest.kt
  docs/features/medical-psychiatric-record.md
  web/e2e/medical-record-medical-orders.spec.ts
  web/src/components/medical-record/MedicalOrderCard.vue
  web/src/stores/medicalOrder.spec.ts
  web/src/types/medicalRecord.ts
Due: detekt, compile-kotlin, eslint, oxlint, prettier, typescript

feat: lock progress-note and nursing-note updates to ADMIN-only
  CLAUDE.md
  api/src/main/kotlin/com/insidehealthgt/hms/dto/response/ProgressNoteResponse.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/NursingNoteService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/ProgressNoteService.kt
  api/src/main/resources/db/migration/V096__lock_progress_note_and_nursing_note_update_to_admin_only.sql
  api/src/main/resources/db/seed/R__seed_01_reset_and_base.sql
  api/src/main/resources/db/seed/R__seed_02_infrastructure.sql
  api/src/main/resources/db/seed/R__seed_03_admissions.sql
  api/src/main/resources/db/seed/R__seed_04_clinical_records.sql
  api/src/main/resources/db/seed/R__seed_05_nursing_and_vitals.sql
  api/src/main/resources/db/seed/R__seed_06_therapy_and_meds.sql
  api/src/main/resources/db/seed/R__seed_07_billing.sql
  api/src/test/kotlin/com/insidehealthgt/hms/controller/AbstractIntegrationTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/NursingNoteControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/ProgressNoteControllerTest.kt
  docs/features/medical-psychiatric-record.md
  docs/features/nursing-module.md
  docs/roles-functionality-matrix.es.md
  docs/roles-functionality-matrix.md
  web/e2e/medical-record-progress-notes.spec.ts
  web/e2e/nursing.spec.ts
  web/src/components/medical-record/ProgressNoteList.vue
  web/src/components/nursing/NursingNoteCard.vue
  web/src/components/nursing/NursingNoteList.vue
  web/src/types/medicalRecord.ts
Due: detekt, compile-kotlin, eslint, oxlint, prettier, typescript

feat: lock progress-note and nursing-note updates to ADMIN-only (#61)
  CLAUDE.md
  api/src/main/kotlin/com/insidehealthgt/hms/dto/response/ProgressNoteResponse.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/NursingNoteService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/ProgressNoteService.kt
  api/src/main/resources/db/migration/V096__lock_progress_note_and_nursing_note_update_to_admin_only.sql
  api/src/main/resources/db/seed/R__seed_01_reset_and_base.sql
  api/src/main/resources/db/seed/R__seed_02_infrastructure.sql
  api/src/main/resources/db/seed/R__seed_03_admissions.sql
  api/src/main/resources/db/seed/R__seed_04_clinical_records.sql
  api/src/main/resources/db/seed/R__seed_05_nursing_and_vitals.sql
  api/src/main/resources/db/seed/R__seed_06_therapy_and_meds.sql
  api/src/main/resources/db/seed/R__seed_07_billing.sql
  api/src/test/kotlin/com/insidehealthgt/hms/controller/AbstractIntegrationTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/NursingNoteControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/ProgressNoteControllerTest.kt
  docs/features/medical-psychiatric-record.md
  docs/features/nursing-module.md
  docs/roles-functionality-matrix.es.md
  docs/roles-functionality-matrix.md
  web/e2e/medical-record-progress-notes.spec.ts
  web/e2e/nursing.spec.ts
  web/src/components/medical-record/ProgressNoteList.vue
  web/src/components/nursing/NursingNoteCard.vue
  web/src/components/nursing/NursingNoteList.vue
  web/src/types/medicalRecord.ts
Due: detekt, compile-kotlin, eslint, oxlint, prettier, typescript

feat: lock vital-sign updates to ADMIN-only
  CLAUDE.md
  api/src/main/kotlin/com/insidehealthgt/hms/service/MessageService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/VitalSignService.kt
  api/src/main/resources/db/migration/V097__lock_vital_sign_update_to_admin_only.sql
  api/src/main/resources/db/seed/R__seed_01_reset_and_base.sql
  api/src/main/resources/messages/errors.properties
  api/src/main/resources/messages/errors_es.properties
  api/src/main/resources/messages/messages.properties
  api/src/main/resources/messages/messages_es.properties
  api/src/test/kotlin/com/insidehealthgt/hms/controller/VitalSignControllerTest.kt
  docs/features/medical-psychiatric-record.md
  docs/features/nursing-module.md
  docs/roles-functionality-matrix.es.md
  docs/roles-functionality-matrix.md
  docs/testing/07-NURSING-MODULE.md
  web/e2e/nursing-kardex.spec.ts
  web/e2e/nursing.spec.ts
  web/src/i18n/locales/en.json
  web/src/i18n/locales/es.json
  web/src/stores/vitalSign.spec.ts
Due: detekt, compile-kotlin, eslint, oxlint, prettier, typescript

feat: lock vital-sign updates to ADMIN-only (#62)
  CLAUDE.md
  api/src/main/kotlin/com/insidehealthgt/hms/service/MessageService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/VitalSignService.kt
  api/src/main/resources/db/migration/V097__lock_vital_sign_update_to_admin_only.sql
  api/src/main/resources/db/seed/R__seed_01_reset_and_base.sql
  api/src/main/resources/messages/errors.properties
  api/src/main/resources/messages/errors_es.properties
  api/src/main/resources/messages/messages.properties
  api/src/main/resources/messages/messages_es.properties
  api/src/test/kotlin/com/insidehealthgt/hms/controller/VitalSignControllerTest.kt
  docs/features/medical-psychiatric-record.md
  docs/features/nursing-module.md
  docs/roles-functionality-matrix.es.md
  docs/roles-functionality-matrix.md
  docs/testing/07-NURSING-MODULE.md
  web/e2e/nursing-kardex.spec.ts
  web/e2e/nursing.spec.ts
  web/src/i18n/locales/en.json
  web/src/i18n/locales/es.json
  web/src/stores/vitalSign.spec.ts
Due: detekt, compile-kotlin, eslint, oxlint, prettier, typescript

feat!: replace patient age with date of birth
  CLAUDE.md
  api/src/main/kotlin/com/insidehealthgt/hms/dto/request/CreatePatientRequest.kt
  api/src/main/kotlin/com/insidehealthgt/hms/dto/request/UpdatePatientRequest.kt
  api/src/main/kotlin/com/insidehealthgt/hms/dto/response/PatientResponse.kt
  api/src/main/kotlin/com/insidehealthgt/hms/dto/response/PatientSummaryResponse.kt
  api/src/main/kotlin/com/insidehealthgt/hms/entity/Patient.kt
  api/src/main/kotlin/com/insidehealthgt/hms/exception/Exceptions.kt
  api/src/main/kotlin/com/insidehealthgt/hms/repository/PatientRepository.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/MessageService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/PatientService.kt
  api/src/main/resources/db/migration/V098__replace_patient_age_with_date_of_birth.sql
  api/src/main/resources/db/seed/R__seed_01_reset_and_base.sql
  api/src/main/resources/messages/errors.properties
  api/src/main/resources/messages/errors_es.properties
  api/src/main/resources/messages/validation.properties
  api/src/main/resources/messages/validation_es.properties
  api/src/test/kotlin/com/insidehealthgt/hms/controller/AbstractIntegrationTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/PatientControllerTest.kt
  docs/features/new-patient-intake.md
  web/e2e/patients.spec.ts
  web/src/components/admissions/AdmissionCard.spec.ts
  web/src/i18n/locales/en.json
  web/src/i18n/locales/es.json
  web/src/stores/admission.spec.ts
  web/src/stores/patient.spec.ts
  web/src/types/patient.ts
  web/src/validation/patient.ts
  web/src/views/patients/PatientDetailView.vue
  web/src/views/patients/PatientFormView.vue
Due: detekt, compile-kotlin, eslint, oxlint, prettier, typescript

feat!: replace patient age with date of birth (#63)
  CLAUDE.md
  api/src/main/kotlin/com/insidehealthgt/hms/dto/request/CreatePatientRequest.kt
  api/src/main/kotlin/com/insidehealthgt/hms/dto/request/UpdatePatientRequest.kt
  api/src/main/kotlin/com/insidehealthgt/hms/dto/response/PatientResponse.kt
  api/src/main/kotlin/com/insidehealthgt/hms/dto/response/PatientSummaryResponse.kt
  api/src/main/kotlin/com/insidehealthgt/hms/entity/Patient.kt
  api/src/main/kotlin/com/insidehealthgt/hms/exception/Exceptions.kt
  api/src/main/kotlin/com/insidehealthgt/hms/repository/PatientRepository.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/MessageService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/PatientService.kt
  api/src/main/resources/db/migration/V098__replace_patient_age_with_date_of_birth.sql
  api/src/main/resources/db/seed/R__seed_01_reset_and_base.sql
  api/src/main/resources/messages/errors.properties
  api/src/main/resources/messages/errors_es.properties
  api/src/main/resources/messages/validation.properties
  api/src/main/resources/messages/validation_es.properties
  api/src/test/kotlin/com/insidehealthgt/hms/controller/AbstractIntegrationTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/PatientControllerTest.kt
  docs/features/new-patient-intake.md
  web/e2e/patients.spec.ts
  web/src/components/admissions/AdmissionCard.spec.ts
  web/src/i18n/locales/en.json
  web/src/i18n/locales/es.json
  web/src/stores/admission.spec.ts
  web/src/stores/patient.spec.ts
  web/src/types/patient.ts
  web/src/validation/patient.ts
  web/src/views/patients/PatientDetailView.vue
  web/src/views/patients/PatientFormView.vue
Due: detekt, compile-kotlin, eslint, oxlint, prettier, typescript

feat(web): preserve rich text formatting in medical record displays
  docs/features/medical-psychiatric-record.md
  docs/features/nursing-module.md
  docs/testing/06-MEDICAL-RECORDS.md
  web/e2e/medical-record-rich-text-formatting.spec.ts
  web/src/components/common/RichTextEditor.vue
  web/src/components/medical-record/MedicalOrderCard.vue
  web/src/components/medical-record/ProgressNoteCard.vue
  web/src/components/nursing/NursingNoteCard.vue
  web/src/i18n/locales/en.json
  web/src/i18n/locales/es.json
  web/src/utils/sanitize.ts
Due: eslint, oxlint, prettier, typescript

feat(web): preserve rich text formatting in medical record displays (#64)
  docs/features/medical-psychiatric-record.md
  docs/features/nursing-module.md
  docs/testing/06-MEDICAL-RECORDS.md
  web/e2e/medical-record-rich-text-formatting.spec.ts
  web/src/components/common/RichTextEditor.vue
  web/src/components/medical-record/MedicalOrderCard.vue
  web/src/components/medical-record/ProgressNoteCard.vue
  web/src/components/nursing/NursingNoteCard.vue
  web/src/i18n/locales/en.json
  web/src/i18n/locales/es.json
  web/src/utils/sanitize.ts
Due: eslint, oxlint, prettier, typescript

feat: add admission PDF export
  .gitignore
  CLAUDE.md
  api/build.gradle.kts
  api/src/main/kotlin/com/insidehealthgt/hms/entity/AuditLog.kt
  api/src/main/kotlin/com/insidehealthgt/hms/exception/Exceptions.kt
  api/src/main/kotlin/com/insidehealthgt/hms/exception/GlobalExceptionHandler.kt
  api/src/main/kotlin/com/insidehealthgt/hms/export/controller/AdmissionExportController.kt
  api/src/main/kotlin/com/insidehealthgt/hms/export/dto/AdmissionExportSnapshot.kt
  api/src/main/kotlin/com/insidehealthgt/hms/export/service/AdmissionExportAppendixBuilder.kt
  api/src/main/kotlin/com/insidehealthgt/hms/export/service/AdmissionExportAuditWriter.kt
  api/src/main/kotlin/com/insidehealthgt/hms/export/service/AdmissionExportHtmlSanitizer.kt
  api/src/main/kotlin/com/insidehealthgt/hms/export/service/AdmissionExportRenderer.kt
  api/src/main/kotlin/com/insidehealthgt/hms/export/service/AdmissionExportService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/export/service/AdmissionExportSnapshotService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/repository/MedicationAdministrationRepository.kt
  api/src/main/kotlin/com/insidehealthgt/hms/security/JwtAuthenticationFilter.kt
  api/src/main/kotlin/com/insidehealthgt/hms/util/AdmissionExportDateFormatter.kt
  api/src/main/resources/db/migration/V099__add_admission_export_permission_and_audit_fields.sql
  api/src/main/resources/export/logo.svg
  api/src/main/resources/messages/messages.properties
  api/src/main/resources/messages/messages_es.properties
  api/src/test/kotlin/com/insidehealthgt/hms/export/AdmissionExportControllerIT.kt
  api/src/test/kotlin/com/insidehealthgt/hms/export/service/AdmissionExportHtmlSanitizerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/export/service/AdmissionExportRendererTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/security/JwtAuthenticationFilterTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/util/AdmissionExportDateFormatterTest.kt
  docs/architecture/ARCHITECTURE.md
  docs/features/admission-export.md
  docs/features/file-system-storage.md
  docs/features/medical-psychiatric-record.md
  docs/features/multi-document-upload.md
  docs/roles-functionality-matrix.es.md
  docs/roles-functionality-matrix.md
  web/e2e/admission-export.spec.ts
  web/src/components/admissions/AdmissionExportButton.spec.ts
  web/src/components/admissions/AdmissionExportButton.vue
  web/src/composables/useErrorHandler.ts
  web/src/i18n/locales/en.json
  web/src/i18n/locales/es.json
  web/src/views/admissions/AdmissionDetailView.vue
Due: detekt, compile-kotlin, eslint, oxlint, prettier, typescript

feat: add admission PDF export (#65)
  .gitignore
  CLAUDE.md
  api/build.gradle.kts
  api/src/main/kotlin/com/insidehealthgt/hms/entity/AuditLog.kt
  api/src/main/kotlin/com/insidehealthgt/hms/exception/Exceptions.kt
  api/src/main/kotlin/com/insidehealthgt/hms/exception/GlobalExceptionHandler.kt
  api/src/main/kotlin/com/insidehealthgt/hms/export/controller/AdmissionExportController.kt
  api/src/main/kotlin/com/insidehealthgt/hms/export/dto/AdmissionExportSnapshot.kt
  api/src/main/kotlin/com/insidehealthgt/hms/export/service/AdmissionExportAppendixBuilder.kt
  api/src/main/kotlin/com/insidehealthgt/hms/export/service/AdmissionExportAuditWriter.kt
  api/src/main/kotlin/com/insidehealthgt/hms/export/service/AdmissionExportHtmlSanitizer.kt
  api/src/main/kotlin/com/insidehealthgt/hms/export/service/AdmissionExportRenderer.kt
  api/src/main/kotlin/com/insidehealthgt/hms/export/service/AdmissionExportService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/export/service/AdmissionExportSnapshotService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/repository/MedicationAdministrationRepository.kt
  api/src/main/kotlin/com/insidehealthgt/hms/security/JwtAuthenticationFilter.kt
  api/src/main/kotlin/com/insidehealthgt/hms/util/AdmissionExportDateFormatter.kt
  api/src/main/resources/db/migration/V099__add_admission_export_permission_and_audit_fields.sql
  api/src/main/resources/export/logo.svg
  api/src/main/resources/messages/messages.properties
  api/src/main/resources/messages/messages_es.properties
  api/src/test/kotlin/com/insidehealthgt/hms/export/AdmissionExportControllerIT.kt
  api/src/test/kotlin/com/insidehealthgt/hms/export/service/AdmissionExportHtmlSanitizerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/export/service/AdmissionExportRendererTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/security/JwtAuthenticationFilterTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/util/AdmissionExportDateFormatterTest.kt
  docs/architecture/ARCHITECTURE.md
  docs/features/admission-export.md
  docs/features/file-system-storage.md
  docs/features/medical-psychiatric-record.md
  docs/features/multi-document-upload.md
  docs/roles-functionality-matrix.es.md
  docs/roles-functionality-matrix.md
  web/e2e/admission-export.spec.ts
  web/src/components/admissions/AdmissionExportButton.spec.ts
  web/src/components/admissions/AdmissionExportButton.vue
  web/src/composables/useErrorHandler.ts
  web/src/i18n/locales/en.json
  web/src/i18n/locales/es.json
  web/src/views/admissions/AdmissionDetailView.vue
Due: detekt, compile-kotlin, eslint, oxlint, prettier, typescript

fix(db): replace broken V111 Kotlin loader with SQL, seed DRUG stock for QA
  CLAUDE.md
  api/src/main/kotlin/db/migration/V111__seed_pharmacy_from_workbook.kt
  api/src/main/resources/db/migration/V111__seed_pharmacy_from_workbook.sql
  api/src/main/resources/db/seed/R__seed_01_reset_and_base.sql
  api/src/main/resources/db/seed/R__seed_02_infrastructure.sql
  api/src/main/resources/db/seed/R__seed_03_admissions.sql
  api/src/main/resources/db/seed/R__seed_04_clinical_records.sql
  api/src/main/resources/db/seed/R__seed_05_nursing_and_vitals.sql
  api/src/main/resources/db/seed/R__seed_06_therapy_and_meds.sql
  api/src/main/resources/db/seed/R__seed_07_billing.sql
  api/src/test/kotlin/com/insidehealthgt/hms/pharmacy/PharmacyLotIT.kt
  docs/architecture/MIGRATIONS.md
  docs/features/pharmacy-and-inventory-evolution.md
Due: detekt, compile-kotlin
