Repository ramonsterj/inside_health-hms: changes, and which lefthook commands are due for each by the changed paths.
All: detekt, compile-kotlin, eslint, oxlint, prettier, typescript

lefthook.yml:

# Lefthook configuration for hms
# https://github.com/evilmartians/lefthook

min_version: 1.6.0

pre-commit:
  parallel: true
  commands:
    # Backend checks
    detekt:
      root: api/
      glob: "**/*.kt"
      run: ./gradlew detekt --daemon

    compile-kotlin:
      root: api/
      glob: "**/*.kt"
      run: ./gradlew compileKotlin --daemon

    # Frontend checks
    eslint:
      root: web/
      glob: "**/*.{vue,ts,tsx,js}"
      run: npm run lint

    oxlint:
      root: web/
      glob: "**/*.{vue,ts,tsx,js}"
      run: npm run lint:oxlint

    prettier:
      root: web/
      glob: "**/*.{vue,ts,tsx,js,json,css,scss}"
      run: npm run format:check

    typescript:
      root: web/
      glob: "**/*.{vue,ts,tsx}"
      run: npx vue-tsc --noEmit

pre-push:
  commands:
    # Backend - full build includes compile, detekt, and tests
    build-backend:
      root: api/
      run: ./gradlew build --daemon

    # Frontend - full build includes type-check and vite build
    build-frontend:
      root: web/
      run: npm run build

    # Optional: Uncomment to run frontend unit tests on push
    # test-frontend:
    #   root: web/
    #   run: npm run test:run
    #
    # Note: E2E tests (npm run test:e2e) are too slow for git hooks.
    # Run them in CI/CD instead.

refactor(web): adopt PrimeVue Sakai layout template
  .claude/commands/re_index.md
  web/package-lock.json
  web/package.json
  web/src/App.vue
  web/src/assets/layout/_core.scss
  web/src/assets/layout/_footer.scss
  web/src/assets/layout/_main.scss
  web/src/assets/layout/_menu.scss
  web/src/assets/layout/_mixins.scss
  web/src/assets/layout/_responsive.scss
  web/src/assets/layout/_topbar.scss
  web/src/assets/layout/_typography.scss
  web/src/assets/layout/_utils.scss
  web/src/assets/layout/layout.scss
  web/src/assets/layout/variables/_common.scss
  web/src/assets/layout/variables/_dark.scss
  web/src/assets/layout/variables/_light.scss
  web/src/assets/main.css
  web/src/assets/styles.scss
  web/src/assets/tailwind.css
  web/src/components/layout/AppLayout.vue
  web/src/components/layout/AppNavbar.vue
  web/src/layout/AppConfigurator.vue
  web/src/layout/AppFooter.vue
  web/src/layout/AppLayout.vue
  web/src/layout/AppMenu.vue
  web/src/layout/AppMenuItem.vue
  web/src/layout/AppSidebar.vue
  web/src/layout/AppTopbar.vue
  web/src/layout/composables/layout.ts
  web/src/main.ts
  web/src/router/index.ts
  web/src/views/AuditLogsView.vue
  web/src/views/DashboardView.vue
  web/src/views/ProfileView.vue
  web/src/views/RolesView.vue
  web/src/views/UsersView.vue
  web/vite.config.ts
Due: eslint, oxlint, prettier, typescript

style(web): apply Inside Health brand customization
  web/index.html
  web/public/favicon.svg
  web/public/vite.svg
  web/src/assets/layout/_core.scss
  web/src/assets/layout/_topbar.scss
  web/src/assets/layout/_typography.scss
  web/src/assets/layout/variables/_common.scss
  web/src/assets/layout/variables/_dark.scss
  web/src/assets/logo.svg
  web/src/assets/tailwind.css
  web/src/composables/useFormValidation.ts
  web/src/layout/AppFooter.vue
  web/src/layout/AppTopbar.vue
  web/src/layout/composables/layout.ts
  web/src/main.ts
  web/vite.config.ts
Due: eslint, oxlint, prettier, typescript

feat(auth): add session expiration handling with modal notification
  CLAUDE.md
  api/src/main/kotlin/com/insidehealthgt/hms/config/SecurityConfig.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/PatientControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/UserControllerTest.kt
  docs/architecture/diagrams/entity-class-diagram.md
  docs/features/session-expiration-handling.md
  web/e2e/session-expiration.spec.ts
  web/src/App.vue
  web/src/components/auth/SessionExpiredModal.vue
  web/src/composables/useFormValidation.ts
  web/src/composables/usePhoneNumberList.ts
  web/src/composables/useSessionExpiration.spec.ts
  web/src/composables/useSessionExpiration.ts
  web/src/i18n/locales/en.json
  web/src/i18n/locales/es.json
  web/src/services/api.ts
  web/src/views/auth/LoginView.vue
Due: detekt, compile-kotlin, eslint, oxlint, prettier, typescript

feat(i18n): add internationalization support for validation messages
  web/src/components/admissions/AddConsultingPhysicianDialog.vue
  web/src/composables/useErrorHandler.ts
  web/src/composables/useFormValidation.ts
  web/src/i18n/locales/en.json
  web/src/i18n/locales/es.json
  web/src/main.ts
  web/src/stores/admission.spec.ts
  web/src/stores/admission.ts
  web/src/stores/room.spec.ts
  web/src/stores/triageCode.spec.ts
  web/src/stores/triageCode.ts
  web/src/validation/admission.ts
  web/src/validation/patient.ts
  web/src/validation/room.ts
  web/src/validation/schemas.ts
  web/src/validation/triageCode.ts
  web/src/validation/user.ts
  web/src/validation/zodI18n.ts
  web/src/views/UsersView.vue
  web/src/views/admin/RoomFormView.vue
  web/src/views/admin/RoomsView.vue
  web/src/views/admin/TriageCodeFormView.vue
  web/src/views/admin/TriageCodesView.vue
  web/src/views/admissions/AdmissionDetailView.vue
  web/src/views/admissions/AdmissionWizardView.vue
  web/src/views/auth/ForcePasswordChangeView.vue
  web/src/views/auth/LoginView.vue
  web/src/views/patients/PatientFormView.vue
Due: eslint, oxlint, prettier, typescript

feat(web): improve UI polish and Spanish locale support
  web/e2e/admissions.spec.ts
  web/e2e/auth.spec.ts
  web/e2e/session-expiration.spec.ts
  web/src/assets/layout/_topbar.scss
  web/src/i18n/index.ts
  web/src/i18n/locales/en.json
  web/src/i18n/locales/es.json
  web/src/layout/AppTopbar.vue
  web/src/views/admissions/AdmissionDetailView.vue
  web/src/views/admissions/AdmissionsView.vue
  web/src/views/auth/LoginView.vue
Due: eslint, oxlint, prettier, typescript

docs: add patient admission entities to class diagram
  docs/architecture/diagrams/entity-class-diagram.md
Due: none

feat(web): add proactive session refresh for active users
  web/e2e/session-expiration.spec.ts
  web/src/composables/useSessionExpiration.spec.ts
  web/src/composables/useSessionExpiration.ts
  web/src/services/api.ts
Due: eslint, oxlint, prettier, typescript

feat: add API endpoint for audit log entity types
  api/src/main/kotlin/com/insidehealthgt/hms/controller/AuditLogController.kt
  api/src/main/kotlin/com/insidehealthgt/hms/repository/AuditLogRepository.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/AuditLogService.kt
  web/src/composables/useSessionExpiration.spec.ts
  web/src/stores/audit.ts
  web/src/views/AuditLogsView.vue
  web/src/views/admissions/AdmissionDetailView.vue
Due: detekt, compile-kotlin, eslint, oxlint, prettier, typescript

feat(api): store patient documents on file system instead of database
  .gitignore
  CLAUDE.md
  api/src/main/kotlin/com/insidehealthgt/hms/entity/AdmissionConsentDocument.kt
  api/src/main/kotlin/com/insidehealthgt/hms/entity/PatientIdDocument.kt
  api/src/main/kotlin/com/insidehealthgt/hms/exception/Exceptions.kt
  api/src/main/kotlin/com/insidehealthgt/hms/exception/GlobalExceptionHandler.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/AdmissionService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/FileStorageService.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/PatientService.kt
  api/src/main/resources/application-dev.yml
  api/src/main/resources/application.yml
  api/src/main/resources/db/migration/V028__add_storage_path_to_document_tables.sql
  api/src/test/kotlin/com/insidehealthgt/hms/service/FileStorageServiceTest.kt
  docs/features/file-system-storage.md
  scripts/generate_test_dpi_images.py
Due: detekt, compile-kotlin

feat: add admission types with conditional field requirements
  api/src/main/kotlin/com/insidehealthgt/hms/controller/AdmissionController.kt
  api/src/main/kotlin/com/insidehealthgt/hms/dto/request/CreateAdmissionRequest.kt
  api/src/main/kotlin/com/insidehealthgt/hms/dto/request/UpdateAdmissionRequest.kt
  api/src/main/kotlin/com/insidehealthgt/hms/dto/response/AdmissionDetailResponse.kt
  api/src/main/kotlin/com/insidehealthgt/hms/dto/response/AdmissionListResponse.kt
  api/src/main/kotlin/com/insidehealthgt/hms/entity/Admission.kt
  api/src/main/kotlin/com/insidehealthgt/hms/entity/AdmissionType.kt
  api/src/main/kotlin/com/insidehealthgt/hms/repository/AdmissionRepository.kt
  api/src/main/kotlin/com/insidehealthgt/hms/service/AdmissionService.kt
  api/src/main/resources/db/migration/V029__add_admission_type.sql
  api/src/main/resources/db/migration/V030__make_triage_code_nullable.sql
  api/src/main/resources/messages/messages.properties
  api/src/main/resources/messages/messages_es.properties
  api/src/test/kotlin/com/insidehealthgt/hms/controller/AdmissionControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/RoomControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/TriageCodeControllerTest.kt
  docs/features/admission-types.md
  web/e2e/admissions.spec.ts
  web/e2e/users.spec.ts
  web/src/components/admissions/AdmissionTypeBadge.vue
  web/src/i18n/locales/en.json
  web/src/i18n/locales/es.json
  web/src/stores/admission.ts
  web/src/types/admission.ts
  web/src/validation/admission.ts
  web/src/views/admissions/AdmissionDetailView.vue
  web/src/views/admissions/AdmissionWizardView.vue
  web/src/views/admissions/AdmissionsView.vue
Due: detekt, compile-kotlin, eslint, oxlint, prettier, typescript

refactor(web): reorder admission detail sections and consolidate doctor name formatting
  web/src/stores/admission.spec.ts
  web/src/views/admissions/AdmissionDetailView.vue
Due: eslint, oxlint, prettier, typescript

refactor(web): reorder admission detail sections and consolidate doctor name formatting (#13)
  web/src/stores/admission.spec.ts
  web/src/views/admissions/AdmissionDetailView.vue
Due: eslint, oxlint, prettier, typescript

feat: add Licenciado (Lic.) and Licenciada (Licda.) salutations
  api/src/main/kotlin/com/insidehealthgt/hms/dto/response/UserResponse.kt
  api/src/main/kotlin/com/insidehealthgt/hms/entity/Salutation.kt
  web/src/i18n/locales/en.json
  web/src/i18n/locales/es.json
  web/src/types/user.ts
Due: detekt, compile-kotlin, eslint, oxlint, prettier, typescript

feat: add Licenciado (Lic.) and Licenciada (Licda.) salutations (#14)
  api/src/main/kotlin/com/insidehealthgt/hms/dto/response/UserResponse.kt
  api/src/main/kotlin/com/insidehealthgt/hms/entity/Salutation.kt
  web/src/i18n/locales/en.json
  web/src/i18n/locales/es.json
  web/src/types/user.ts
Due: detekt, compile-kotlin, eslint, oxlint, prettier, typescript

test(api): overhaul backend test suite with shared base class and expanded coverage
  api/src/main/kotlin/com/insidehealthgt/hms/exception/GlobalExceptionHandler.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/AbstractIntegrationTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/AdmissionConsultingPhysicianControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/AdmissionControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/AdmissionDischargeControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/AdmissionDocumentControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/AdmissionTypeControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/AuthControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/ClinicalHistoryControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/MedicalOrderControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/NursingNoteControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/PasswordResetControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/PatientControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/ProgressNoteControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/PsychotherapyActivityControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/PsychotherapyCategoryControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/RoomControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/TriageCodeControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/UserControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/VitalSignControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/repository/UserRepositoryTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/security/CustomUserDetailsServiceTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/security/CustomUserDetailsTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/security/JwtTokenProviderTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/service/AuthServiceTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/service/ConsoleEmailServiceTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/service/FileStorageServiceTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/service/PasswordResetServiceTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/service/RefreshTokenServiceTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/service/SmtpEmailServiceTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/service/UserServiceTest.kt
Due: detekt, compile-kotlin

test(api): overhaul backend test suite with shared base class and expanded coverage (#19)
  api/src/main/kotlin/com/insidehealthgt/hms/exception/GlobalExceptionHandler.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/AbstractIntegrationTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/AdmissionConsultingPhysicianControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/AdmissionControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/AdmissionDischargeControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/AdmissionDocumentControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/AdmissionTypeControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/AuthControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/ClinicalHistoryControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/MedicalOrderControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/NursingNoteControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/PasswordResetControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/PatientControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/ProgressNoteControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/PsychotherapyActivityControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/PsychotherapyCategoryControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/RoomControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/TriageCodeControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/UserControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/controller/VitalSignControllerTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/repository/UserRepositoryTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/security/CustomUserDetailsServiceTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/security/CustomUserDetailsTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/security/JwtTokenProviderTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/service/AuthServiceTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/service/ConsoleEmailServiceTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/service/FileStorageServiceTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/service/PasswordResetServiceTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/service/RefreshTokenServiceTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/service/SmtpEmailServiceTest.kt
  api/src/test/kotlin/com/insidehealthgt/hms/service/UserServiceTest.kt
Due: detekt, compile-kotlin

fix: harden security headers, self-host fonts, and lock down actuator
  api/src/main/kotlin/com/insidehealthgt/hms/config/SecurityConfig.kt
  api/src/main/kotlin/com/insidehealthgt/hms/controller/AdmissionController.kt
  api/src/main/resources/application-prod.yml
  api/src/main/resources/application.yml
  web/e2e/inventory.spec.ts
  web/e2e/medical-record-clinical-history.spec.ts
  web/e2e/medical-record-medical-orders.spec.ts
  web/e2e/medication-administration.spec.ts
  web/e2e/nursing.spec.ts
  web/e2e/psychotherapy-activities.spec.ts
  web/e2e/session-expiration.spec.ts
  web/index.html
  web/package-lock.json
  web/package.json
  web/src/components/medical-record/ClinicalHistoryForm.vue
  web/src/composables/useErrorHandler.ts
  web/src/main.ts
  web/tsconfig.app.json
  web/vite.config.ts
Due: detekt, compile-kotlin, eslint, oxlint, prettier, typescript

fix: harden security headers, self-host fonts, and lock down actuator (#23)
  api/src/main/kotlin/com/insidehealthgt/hms/config/SecurityConfig.kt
  api/src/main/kotlin/com/insidehealthgt/hms/controller/AdmissionController.kt
  api/src/main/resources/application-prod.yml
  api/src/main/resources/application.yml
  web/e2e/inventory.spec.ts
  web/e2e/medical-record-clinical-history.spec.ts
  web/e2e/medical-record-medical-orders.spec.ts
  web/e2e/medication-administration.spec.ts
  web/e2e/nursing.spec.ts
  web/e2e/psychotherapy-activities.spec.ts
  web/e2e/session-expiration.spec.ts
  web/index.html
  web/package-lock.json
  web/package.json
  web/src/components/medical-record/ClinicalHistoryForm.vue
  web/src/composables/useErrorHandler.ts
  web/src/main.ts
  web/tsconfig.app.json
  web/vite.config.ts
Due: detekt, compile-kotlin, eslint, oxlint, prettier, typescript

feat(db): split seed data into modular files with expanded psychiatric test data
  api/src/main/resources/application-dev.yml
  api/src/main/resources/db/seed/R__seed_01_reset_and_base.sql
  api/src/main/resources/db/seed/R__seed_02_infrastructure.sql
  api/src/main/resources/db/seed/R__seed_03_admissions.sql
  api/src/main/resources/db/seed/R__seed_04_clinical_records.sql
  api/src/main/resources/db/seed/R__seed_05_nursing_and_vitals.sql
  api/src/main/resources/db/seed/R__seed_06_therapy_and_meds.sql
  api/src/main/resources/db/seed/R__seed_07_billing.sql
  api/src/main/resources/messages/errors_es.properties
  api/src/main/resources/messages/messages_es.properties
  api/src/main/resources/messages/validation_es.properties
  web/src/i18n/locales/es.json
Due: prettier

feat(db): split seed data into modular files with expanded psychiatric test data (#24)
  api/src/main/resources/application-dev.yml
  api/src/main/resources/db/seed/R__seed_01_reset_and_base.sql
  api/src/main/resources/db/seed/R__seed_02_infrastructure.sql
  api/src/main/resources/db/seed/R__seed_03_admissions.sql
  api/src/main/resources/db/seed/R__seed_04_clinical_records.sql
  api/src/main/resources/db/seed/R__seed_05_nursing_and_vitals.sql
  api/src/main/resources/db/seed/R__seed_06_therapy_and_meds.sql
  api/src/main/resources/db/seed/R__seed_07_billing.sql
  api/src/main/resources/messages/errors_es.properties
  api/src/main/resources/messages/messages_es.properties
  api/src/main/resources/messages/validation_es.properties
  web/src/i18n/locales/es.json
Due: prettier

docs(testing): add manual testing plan and fix seed role permissions
  api/src/main/resources/db/seed/R__seed_01_reset_and_base.sql
  docs/testing/00-TESTING-OVERVIEW.md
  docs/testing/01-CHECKLIST-TEMPLATE.md
  docs/testing/02-AUTH-SESSION.md
  docs/testing/03-USER-ROLE-MANAGEMENT.md
  docs/testing/04-PATIENT-MANAGEMENT.md
  docs/testing/05-ADMISSION-MANAGEMENT.md
  docs/testing/06-MEDICAL-RECORDS.md
  docs/testing/07-NURSING-MODULE.md
  docs/testing/08-PSYCHOTHERAPY.md
  docs/testing/09-INVENTORY-MANAGEMENT.md
  docs/testing/10-BILLING-INVOICING.md
  docs/testing/11-CROSS-MODULE-SCENARIOS.md
Due: none

docs(testing): add manual testing plan and fix seed role permissions (#25)
  api/src/main/resources/db/seed/R__seed_01_reset_and_base.sql
  docs/testing/00-TESTING-OVERVIEW.md
  docs/testing/01-CHECKLIST-TEMPLATE.md
  docs/testing/02-AUTH-SESSION.md
  docs/testing/03-USER-ROLE-MANAGEMENT.md
  docs/testing/04-PATIENT-MANAGEMENT.md
  docs/testing/05-ADMISSION-MANAGEMENT.md
  docs/testing/06-MEDICAL-RECORDS.md
  docs/testing/07-NURSING-MODULE.md
  docs/testing/08-PSYCHOTHERAPY.md
  docs/testing/09-INVENTORY-MANAGEMENT.md
  docs/testing/10-BILLING-INVOICING.md
  docs/testing/11-CROSS-MODULE-SCENARIOS.md
Due: none
